<p>Cookies und ähnliche Technologien werden auf unserer Website verwendet, um personenbezogene Daten und
    Geräteinformationen zu verarbeiten. Dies dient dazu, den technischen Betrieb der Seite und bestimmter
    Funktionalitäten sicherzustellen und die Einbindung externer Inhalte und Dienste zu ermöglichen.</p>
<p>Bestimmte Cookies sind für den Zugriff auf die Website unbedingt erforderlich, da Ihr Endgerät sonst nicht in der
    Lage ist die Webseite richtig darstellen. Diese „essenziellen Cookies“ können daher nicht abgewählt werden.</p>
<p>Bei den anderen genannten Cookies werden in bestimmten Fällen auch Daten an Dritte weitergegeben. Weitere
    Informationen zu den verwendeten Cookies und Technologien finden Sie in unserer {{privacy_policy_link}}. Die
    Zustimmung dazu ist freiwillig und kann jederzeit über die Cookie-Einstellungen, die Sie in unserer
    Datenschutzerklärung finden, widerrufen werden.</p>