<p>Our website uses cookies and similar technologies to process personal data and terminal device information. This
    serves to ensure the technical operation of the site and certain functionalities and to enable the integration of
    external content and services.</p>
<p>Certain cookies are absolutely necessary for calling up the website, otherwise your terminal device cannot display
    the website correctly. These "essential cookies" can therefore not be deselected.</p>
<p>In the case of the other cookies mentioned below, data is also passed on to third parties in certain cases. You can
    find more information about the cookies or technologies used in our {{privacy_policy_link}}. Consent is voluntary and can be
    revoked at any time using the cookie settings, which you will find in our privacy policy.</p>