[accordion-item title="Siteimprove Analytics" name="siteimprove_analytics"]
<h3>Nutzung von Siteimprove Analytics</h3>
<h4>Beschreibung und Umfang der Datenverarbeitung</h4>
<p>Diese Website benutzt Siteimprove Analytics, einen Webanalysedienst, der von Siteimprove zur Verfügung gestellt wird.
    Siteimprove Analytics nutzt „Cookies“ - Textdateien, die auf Ihrem Rechner oder Smartphone gespeichert werden, um
    der FAU<b> </b>dabei zu helfen zu analysieren, wie Besucher die Website benutzen. Die Information, die durch die
    Cookies über die Website-Nutzung der Besucher erstellt wird, wird von Siteimprove auf Servern in Dänemark
    gespeichert und verarbeitet.</p>
<p>IP-Adressen werden vollständig anonymisiert bevor erhobene Daten über die Siteimprove Suite für die FAU einsehbar
    sind. Eine Umkehrung der Anonymisierung der IP-Adressen und eine Zuordnung der IP-Adressen zu erhobenen Daten ist
    nicht möglich.</p>
<p>Die FAU wird diese Informationen nutzen, um das Benutzerverhalten seiner Websitebesucher auszuwerten, Berichte
    darüber zu erstellen und schlussendlich um das Websiteerlebnis für seine Besucher zu verbessern. Siteimprove wird
    diese Informationen nicht an Dritte weitergeben oder sie für Marketing- oder Werbezwecke jeglicher Art benützen.</p>


<p>Diese Cookies von Siteimprove Analytics werden auf dieser Website eingesetzt:</p>

<ul>
    <li><strong>Name des Cookies</strong>: <code>nmstat </code>
        <ul>
            <li><strong>Typ</strong>: Persistent – läuft nach 1000 Tagen ab</li>
            <li><strong>Über das Cookie</strong>: Dieses Cookie wird genutzt, um das Verhalten der Besucher auf der
                Website festzuhalten. Es wird genutzt um Statistiken über die Websitenutzung zu sammeln, wie zum
                Beispiel wann der Besucher die Website zuletzt besucht hat. Das Cookie enthält keine personenbezogenen
                Daten und wird einzig für die Websiteanalyse eingesetzt.</li>
        </ul>
    </li>
    <li><strong>Name des Cookies</strong>: <code>AWSELB / AWSELBCOR</code>
        <ul>
            <li><strong>Typ</strong>: Sitzungscookie</li>
            <li><strong>Über das Cookie</strong>: Das AWSELB-Cookie stellt sicher, dass alle Seitenaufrufe für denselben
                Besuch (Benutzersitzung) an denselben Endpunkt gesendet werden. Dadurch können wir die Reihenfolge der
                Seitenaufrufe eines Benutzers bestimmen, die für Funktionen wie Verhaltensverfolgung und Konversionspfad
                benötigt werden.</li>
        </ul>
    </li>
</ul>
<p>Durch die Benutzung dieser Website erklärt sich der Besucher mit der Verarbeitung seiner bzw. ihrer Daten zu den
    weiter oben beschriebenen Zwecken einverstanden.</p>


<h4>Rechtsgrundlage für die Verarbeitung personenbezogener Daten</h4>
<p>Die Rechtsgrundlage für die Verarbeitung personenbezogener Daten unter Verwendung von Cookies ist Art. 6 Abs. 1 e
    DSGVO in Verbindung mit Art. 4 BayDSG,insbesondere der Aufgaben aus § 15 Abs. 3 TMG und Art. 10 BayHSchG.</p>

<h4>Widerspruchs- und Beseitigungsmöglichkeit</h4>
<p>Sie können der Sammlung Ihrer Daten durch Siteimprove Analytics widersprechen, indem Sie auf den folgenden Link
    klicken.</p>
<h4>Widerspruchs- und Beseitigungsmöglichkeit</h4>
<p>Sie können der Sammlung Ihrer Daten durch Siteimprove Analytics widersprechen, indem Sie auf die folgende Checkbox
    klicken.</p>
[rrzelegal_consent type="switch-consent" id="siteimprove_analytics"]
[/accordion-item]