[accordion-item title="Slideshare" name="slideshare"]
<h3>Slideshare</h3>

<p>On this website, various lectures are presented with the help of the
    Integrated online portal Slideshare.
    Slideshare is operated by LinkedIn Ireland Unlimited Company ("LinkedIn Ireland").
</p>

<h4>Description and scope of data processing</h4>

<p>
    If you call up a page of the website that contains a lecture presentation by means of
    Slideshare embeds button, your browser builds a direct connection with
    the SlideShare servers.
    The content of the lecture presentation is transmitted directly to your browser by SlideShare and
    integrated into the website by this.
</p>
<p>

    Slideshare logs usage data when the lecture presentation page
    is visited; for example, when you post content (like tutorial videos) or ads
    view or click (inside or outside our websites and apps),
    perform a search within or share the presentation screen.
    Get saved:
</p>
<ul>
    <li>Credentials</li>
    <li>Cookies</li>
    <li>Device Information</li>
    <li>Internet protocol ("IP" addresses) addresses</li>
</ul>
<p>
    We therefore have no influence on the amount of data that SlideShare collects with the button.
    Purpose and scope of the data collection and the further processing and use of the data by
    SlideShare and your rights and setting options for protection in this regard
    For your privacy please refer to the <a href="https://www.linkedin.com/legal/privacy-policy"
        rel="noopener noreferrer">LinkedIn privacy policy</a>.
</p>

<h4>Legal basis for data processing</h4>
<p>Slideshare is used
    in the interest of an attractive presentation of our online offers. This represents
    represents a legitimate interest within the meaning of Article 6 (1) (f) GDPR
    corresponding consent was requested (e.g. consent to storage
    of cookies), the processing takes place exclusively on the basis of
    Article 6 (1) (a) GDPR; the consent can be revoked at any time.</p>


<p>Further information on handling user data can be found in the
    YouTube privacy policy at: <a href="https://www.linkedin.com/legal/privacy-policy"
        rel="noopener noreferrer">https://www.linkedin.com/legal/privacy-policy</a>.
</p>
<h4>Objection and removal option</h4>
<p>You can opt out of having your information collected by Verifast by clicking the checkbox below.</p>
[rrzelegal_consent type="switch-consent" id="slideshare"]
[/accordion-item]