[accordion-item title="Advertising of the company VariFast GmbH" name="varifast"]
<h2>Advertising of the company VariFast GmbH</h2>

<h3>Description and scope of data processing</h3>

<p>On some websites of the university are in collaboration with the company
    VariFast GmbH and switched using the ad server of Adition AG banner ads.
</p>
<p>
    Cookies are also used. These are only session cookies
    and temporary cookies that serve to statistically measure the number of readers / visitors
    and limit the number of delivery of advertising material. It will only
    technical, but no identifying data recorded.
    All data is only anonymized and evaluated purely statistically.


</p>
<p>
    All relevant data protection regulations, in particular those of the German
    Telemediengesetz and the Federal Data Protection Act, are provided by the VariFast GmbH
    and Adition AG complies with the universitys contractual obligations.

</p>

<h3>Withdrawal</h3>
<p>
    By clicking on the following link, the collection of anonymized
    Data stopped by our advertising partners. Adition replaces the case in this case
    current cookie through a new opt-out cookie. This opt-out cookie deletes the so far
    stored information and prevents further detection of anonymized
    Information. If this OptOut cookie is deleted, Adition can no longer detect
    that an opt-out has taken place.
    In this case repeat the OptOut process.</p>

<p><a href="https://www.adition.com/datenschutz-opted-out/" class="btn btn-primary ext-link" target="_blank"
        rel="external noreferrer" data-wpel-link="external"><strong>Stop collecting data on the use of advertising media
            now</strong></a>
</p>
<h4>Objection and removal option</h4>
<p>You can opt out of having your information collected by Verifast by clicking the checkbox below.</p>
[rrzelegal_consent type="switch-consent" id="verifast"]
[/accordion-item]