[accordion-item title="Werbung der Firma VariFast GmbH" name="varifast"]
<h2>Werbung der Firma VariFast GmbH</h2>

<h3>Beschreibung und Umfang der Datenverarbeitung</h3>

<p>Auf einigen Webseiten der Universität sind in Zusammenarbeit mit der Firma
    VariFast GmbH und unter Verwendung des Adservers der Adition AG Werbebanner geschaltet.
</p>
<p>
    Dabei kommen auch Cookies zum Einsatz. Es handelt sich ausschließlich um Sessioncookies
    und temporäre Cookies, die dazu dienen, die Zahl der Leser/Visitors statistisch zu messen
    und die zahlenmäßig festgelegte Auslieferung der Werbemittel zu begrenzen. Es werden nur
    technische, aber keine identifizierenden Daten erfasst.
    Alle Daten werden nur anonymisiert und rein statistisch ausgewertet.
</p>
<p>
    Alle einschlägigen datenschutzrechtlichen Bestimmungen, insbesondere die des deutschen
    Telemediengesetzes und des Bundesdatenschutzgesetzes, werden von der VariFast GmbH
    und der Adition AG laut vertraglicher Verpflichtung gegenüber der Universität eingehalten.
</p>

<h3>Widerrufsrecht</h3>
<p>
    Durch Klicken auf den nachfolgenden Link wird die Erfassung von anonymisierten
    Daten durch unsere Werbepartner gestoppt. Adition ersetzt in diesem Fall das
    jetzige Cookie durch ein neues OptOut-Cookie. Dieses OptOut-Cookie löscht die bisher
    gespeicherten Informationen und verhindert ein weiteres Erfassen von anonymisierten
    Informationen. Wird dieses OptOut-Cookie gelöscht, kann Adition nicht mehr feststellen,
    dass ein OptOut stattgefunden hat.
    In diesem Fall ist der OptOut-Vorgang zu wiederholen.</p>

<p><a href="https://www.adition.com/datenschutz-opted-out/" class="btn btn-primary ext-link" target="_blank"
        rel="external noreferrer" data-wpel-link="external"><strong>Erfassung von Daten zur Nutzung der Werbemedien
            jetzt stoppen</strong></a>
</p>
<h4>Widerspruchs- und Beseitigungsmöglichkeit</h4>
<p>Sie können der Sammlung Ihrer Daten durch Verifast widersprechen, indem Sie auf die folgende Checkbox klicken.</p>
[rrzelegal_consent type="switch-consent" id="verifast"]
[/accordion-item]