[accordion-item title="VG Wort" name="vgwort"]
<h3>Zählpixel der Verwertungsgesellschaft Wort</h3>

<p>Auf dem Webauftritt werden "Session-Cookies" und JavaScript der VG Wort, München,
    zur Messung von Zugriffen auf Texte eingesetzt,
    um die Kopierwahrscheinlichkeit zu erfassen.
</p>
<p>

    Session-Cookies sind kleine Informationseinheiten, die ein Anbieter im Arbeitsspeicher
    des Computers des Besuchers speichert. In einem Session-Cookie wird eine zufällig erzeugte
    eindeutige Identifikationsnummer abgelegt, eine sogenannte Session-ID. Außerdem enthält
    ein Cookie die Angabe über seine Herkunft und die Speicherfrist. Session-Cookies können
    keine anderen Daten speichern. Diese Messungen werden von der INFOnline GmbH nach dem
    Skalierbaren Zentralen Messverfahren (SZM) durchgeführt.
</p>
<p>
    Sie helfen dabei, die Kopierwahrscheinlichkeit einzelner Texte zur Vergütung von
    gesetzlichen Ansprüchen von Autoren und Verlagen zu ermitten. Personenbezogenen Daten
    werden über diese Co</p>
<p>
    okies nicht erfasst.
</p>
<p>
    Viele der Webseiten sind mit JavaScript-Aufrufen versehen, über die Zugriffe
    an die Verwertungsgesellschaft Wort (VG Wort) gemeldet werden.
    Dies ist notwendig dafür, dass die Autoren von Beiträgen auf dem Webauftritt an den
    Ausschüttungen der VG Wort partizipieren, die die gesetzliche Vergütung für die
    Nutzungen urheberrechtlich geschützter Werke gem. § 53 UrhG sicherstellen.
</p>

<h4>Skalierbare Zentrale Messverfahren“ (SZM)</h4>
<p>
    Der Webauftritt nutzt das „Skalierbare Zentrale Messverfahren“ (SZM) der
    INFOnline GmbH (https://www.infonline.de) für die Ermittlung statistischer Kennwerte
    zur Ermittlung der Kopierwahrscheinlichkeit von Texten.
</p>
<p>
    Dabei werden anonyme Messwerte erhoben. Die Zugriffszahlenmessung verwendet zur
    Wiedererkennung von Computersystemen alternativ ein Session-Cookie oder eine Signatur,
    die aus verschiedenen automatisch übertragenen Informationen Ihres Browsers erstellt
    wird. IP-Adressen werden nur in anonymisierter Form verarbeitet.
</p>
<p>
    Das Verfahren wurde unter der Beachtung des Datenschutzes entwickelt. Einziges Ziel des
    Verfahrens ist es, die Kopierwahrscheinlichkeit einzelner Texte zu ermitteln.
</p>
<p>
    Zu keinem Zeitpunkt werden einzelne Nutzer identifiziert. Ihre Identität bleibt immer
    geschützt. Sie erhalten über das System keine Werbung.
</p>
<h4>Widerspruchs- und Beseitigungsmöglichkeit</h4>
<p>Sie können der Sammlung Ihrer Daten durch VG Wort widersprechen, indem Sie auf die folgende Checkbox klicken.</p>
[rrzelegal_consent type="switch-consent" id="vgwort"]
[/accordion-item]