[accordion-item title="VG Wort" name="vgwort"]
<h3>Tracking pixel of the collecting society Wort</h3>

<p>On the website, "session cookies" and JavaScript from VG Wort, Munich,
    used to measure access to texts,
    to capture the probability of copying.
</p>
<p>

    Session cookies are small pieces of information that a provider stores in memory
    of the visitor's computer. A session cookie is a randomly generated
    unique identification number is stored, a so-called session ID. Also contains
    a cookie provides information about its origin and the storage period. Session cookies can
    save no other data. These measurements will be carried out by INFOnline GmbH after
    Scalable central measuring method (SZM) carried out.
</p>
<p>
    They help to determine the probability of copying individual texts for remuneration
    to determine the legal claims of authors and publishers. Personal Data
    are about this Co</p>
<p>
    ok not recorded.
</p>
<p>
    Many of the web pages are provided with JavaScript calls via the accesses
    be reported to the collecting society Wort (VG Wort).
    This is necessary so that the authors of articles on the website can be sent to the
    Distributions of the VG Wort participate, which is the statutory remuneration for the
    Ensure the use of copyrighted works in accordance with § 53 UrhG.
</p>

<h4>Scalable central measurement method (SZM)</h4>
<p>
    The website uses the "Scalable Central Measurement Method" (SZM) of
    INFOnline GmbH (https://www.infonline.de) for determining statistical parameters
    to determine the copy probability of texts.
</p>
<p>
    Anonymous measurements are collected. The access number measurement uses for
    Recognition of computer systems alternatively a session cookie or a signature,
    created from various automatically transmitted information from your browser
    will. IP addresses are only processed in an anonymous form.
</p>
<p>
    The process was developed with data protection in mind. Sole goal of
    The procedure is to determine the copy probability of individual texts.
</p>
<p>
    At no time individual users are identified. Your identity always remains
    protected. You will not receive any advertising through the system.
</p>
<h4>Objection and removal option</h4>
<p>You can object to the collection of your data by VG Wort by clicking on the following checkbox.</p>
[rrzelegal_consent type="switch-consent" id="vgwort"]
[/accordion-item]