[accordion-item title="Vimeo" name="vimeo"]
<h3>Vimeo</h3>

<p>Dieses Webangebot bindet Videos des Videoportals Vimeo ein. Anbieter ist die
    Vimeo Inc., 555 West 18th Street, New York, New York 10011, USA.</p>

<p>Wenn Sie eine unserer mit einem Vimeo-Plugin ausgestatteten Seiten besuchen, wird eine
    Verbindung zu den Servern von Vimeo hergestellt. Dabei wird dem Vimeo-Server
    mitgeteilt, welche unserer Seiten Sie besucht haben. Zudem erlangt Vimeo Ihre
    IP-Adresse. Dies gilt auch dann, wenn Sie nicht bei Vimeo eingeloggt sind oder
    keinen Account bei Vimeo besitzen. Die von Vimeo erfassten Informationen werden an
    den Vimeo-Server in den USA &uuml;bermittelt.</p>
<p>Wenn Sie in Ihrem Vimeo-Account
    eingeloggt sind, erm&ouml;glichen Sie Vimeo, Ihr Surfverhalten direkt Ihrem
    pers&ouml;nlichen Profil zuzuordnen. Dies k&ouml;nnen Sie verhindern, indem Sie sich
    aus Ihrem Vimeo-Account ausloggen.</p>
<p>Die Nutzung von Vimeo erfolgt im Interesse
    einer ansprechenden Darstellung unserer Online-Angebote. Dies stellt ein berechtigtes
    Interesse im Sinne des Art. 6 Abs. 1 lit. f DSGVO dar. Sofern eine entsprechende
    Einwilligung abgefragt wurde (z. B. eine Einwilligung zur Speicherung von Cookies),
    erfolgt die Verarbeitung ausschlie&szlig;lich auf Grundlage von
    Art. 6 Abs. 1 lit. a DSGVO; die Einwilligung ist jederzeit widerrufbar.</p>

<p>Weitere Informationen zum Umgang mit Nutzerdaten finden Sie in der
    Datenschutzerkl&auml;rung von Vimeo unter:
    <a href="https://vimeo.com/privacy" rel="noopener noreferrer">https://vimeo.com/privacy</a>.
</p>
<h4>Widerspruchs- und Beseitigungsmöglichkeit</h4>
<p>Sie können der Sammlung Ihrer Daten durch Vimeo widersprechen, indem Sie auf die folgende Checkbox klicken.</p>
[rrzelegal_consent type="switch-consent" id="vimeo"]
[/accordion-item]