[accordion-item title="Vimeo" name="vimeo"]
<h3>Vimeo</h3>

<p>This website includes videos from the video portal Vimeo. Provider is the
    Vimeo Inc., 555 West 18th Street, New York, New York 10011, USA.</p>

<p>If you visit one of our pages equipped with a Vimeo plugin, a
    Connection to the Vimeo servers established. In doing so, the Vimeo server
    communicated which of our pages you have visited. In addition, Vimeo obtains your
    IP address. This also applies if you are not logged in to Vimeo or
    do not have a Vimeo account. The information collected by Vimeo is sent to
    transmitted to the Vimeo server in the USA.</p>
<p>If you are in your Vimeo account
    are logged in, you allow Vimeo to share your surfing behavior directly with you
    assign to a personal profile. You can prevent this by yourself
    log out of your Vimeo account.</p>
<p>The use of Vimeo is in the interest
    an attractive presentation of our online offers. This represents a legitimate
    interest within the meaning of Art. 6 Para. 1 lit. f GDPR. If a corresponding
    consent was requested (e.g. consent to the storage of cookies),
    the processing takes place exclusively on the basis of
    Article 6 (1) (a) GDPR; the consent can be revoked at any time.</p>

<p>Further information on handling user data can be found in the
    Vimeo privacy policy at:
    <a href="https://vimeo.com/privacy" rel="noopener noreferrer">https://vimeo.com/privacy</a>.
</p>
<h4>Objection and removal option</h4>
<p>You can object to the collection of your data by Vimeo by clicking on the following checkbox.</p>
[rrzelegal_consent type="switch-consent" id="vimeo"]
[/accordion-item]