[accordion-item title="YouTube" name="youtube"]
<h3>YouTube</h3>
<p>Dieses Webangebot bindet Videos des Videoportals YouTube ein. Betreiber von YouTube ist die
    Google Ireland Limited (&bdquo;Google&ldquo;), Gordon House, Barrow Street, Dublin 4,
    Irland.</p>

<h4>Beschreibung und Umfang der Datenverarbeitung</h4>
<p>Wenn Sie eine unserer Seiten besuchen, auf denen YouTube eingebunden ist, wird
    eine Verbindung zu den Servern von YouTube hergestellt. Dabei wird dem YouTube-Server
    mitgeteilt, welche unserer Seiten Sie besucht haben.</p>

<p>Die Einbindung von YouTube Videos erfolgt entweder
<ul>
    <li>über ein Plugin des RRZE, welches dafür sorgt, dass Daten erst dann zu YouTube gehen,
        wenn Sie das Video abspielen, </li>
    <li>über eine direktes Embedding, in dem das Video über den Proxydienst
        Youtube-Nocookie.com gesendet wird. Dies verhindert zwar die
        Übertragung vom Daten bereits beim Abruf der Seite, verhindert diese jedoch
        nicht, nachdem Sie das Video gestartet haben</li>
    <li>oder über ein Einbinden des Videos mit Hilfe der originalen YouTube-Embeddings-Codes.</li>
</ul>

<p>Beim Abruf des Videos kann YouTube verschiedene Cookies auf Ihrem Endger&auml;t
    speichern. Mit Hilfe dieser Cookies kann
    YouTube Informationen &uuml;ber Besucher dieser Website erhalten. Diese Informationen
    werden u. a. verwendet, um Videostatistiken zu erfassen, die Anwenderfreundlichkeit
    zu verbessern und Betrugsversuchen vorzubeugen. Die Cookies verbleiben auf Ihrem
    Endger&auml;t, bis Sie sie l&ouml;schen.</p>

<p>Wenn Sie in Ihrem YouTube-Account
    eingeloggt sind, erm&ouml;glichen Sie YouTube, Ihr Surfverhalten direkt Ihrem
    pers&ouml;nlichen Profil zuzuordnen. Dies k&ouml;nnen Sie verhindern, indem Sie
    sich aus Ihrem YouTube-Account ausloggen.</p>

<h4>Rechtsgrundlage für die Datenverarbeitung</h4>
<p>Die Nutzung von YouTube erfolgt
    im Interesse einer ansprechenden Darstellung unserer Online-Angebote. Dies stellt
    ein berechtigtes Interesse im Sinne von Art. 6 Abs. 1 lit. f DSGVO dar. Sofern eine
    entsprechende Einwilligung abgefragt wurde (z. B. eine Einwilligung zur Speicherung
    von Cookies), erfolgt die Verarbeitung ausschlie&szlig;lich auf Grundlage von
    Art. 6 Abs. 1 lit. a DSGVO; die Einwilligung ist jederzeit widerrufbar.</p>
<p>Weitere Informationen zum Umgang mit Nutzerdaten finden Sie in der
    Datenschutzerkl&auml;rung von YouTube unter: <a href="https://policies.google.com/privacy?hl=de"
        rel="noopener noreferrer">https://policies.google.com/privacy?hl=de</a>.
</p>
<h4>Widerspruchs- und Beseitigungsmöglichkeit</h4>
<p>Sie können der Sammlung Ihrer Daten durch YouTube widersprechen, indem Sie auf die folgende Checkbox klicken.</p>
[rrzelegal_consent type="switch-consent" id="youtube"]
[/accordion-item]