[accordion-item title="YouTube" name="youtube"]
<h3>YouTube</h3>
<p>This website includes videos from the video portal YouTube. The operator of YouTube is the
    Google Ireland Limited ("Google"), Gordon House, Barrow Street, Dublin 4,
    Ireland.</p>

<h4>Description and scope of data processing</h4>
<p>If you visit one of our pages on which YouTube is integrated,
    a connection to the YouTube servers is established. In doing so, the YouTube server
    communicated which of our pages you have visited.</p>

<p>The integration of YouTube videos takes place either
<ul>
    <li>via an RRZE plugin, which ensures that data only goes to YouTube
        when you play the video, </li>
    <li>via direct embedding, where the video is sent through the proxy service
        Youtube-Nocookie.com is sent. Although this prevents the
        Transmission of the data already when calling up the page, however, prevents this
        not after you start the video</li>
    <li>or by embedding the video using the original YouTube embedding codes.</li>
</ul>

<p>When you call up the video, YouTube can set various cookies on your end device
    to save. With the help of these cookies
    YouTube receive information about visitors to this website. This information
    will include used to collect video statistics, ease of use
    to improve and prevent attempts at fraud. The cookies remain on your
    device until you delete it.</p>

<p>If you are in your YouTube account
    are logged in, you allow YouTube to share your surfing behavior directly with you
    assign to a personal profile. You can prevent this by using
    log out of your YouTube account.</p>

<h4>Legal basis for data processing</h4>
<p>YouTube is used
    in the interest of an attractive presentation of our online offers. This represents
    represents a legitimate interest within the meaning of Article 6 (1) (f) GDPR
    corresponding consent was requested (e.g. consent to storage
    of cookies), the processing takes place exclusively on the basis of
    Article 6 (1) (a) GDPR; the consent can be revoked at any time.</p>
<p>Further information on handling user data can be found in the
    YouTube privacy policy at: <a href="https://policies.google.com/privacy?hl=de"
        rel="noopener noreferrer">https://policies.google.com/privacy?hl=en</a>.
</p>
<h4>Objection and removal option</h4>
<p>You can object to the collection of your data by YouTube by clicking on the following checkbox.</p>
[rrzelegal_consent type="switch-consent" id="youtube"]
[/accordion-item]