<h2>Durchsetzungsverfahren</h2>
<p>
    Bleibt eine Anfrage über die Kontaktmöglichkeit innerhalb von sechs Wochen ganz oder teilweise unbeantwortet,
    prüft die zuständige Aufsichtsbehörde auf Antrag des Nutzers,
    ob im Rahmen der Überwachung gegenüber dem Verpflichteten Maßnahmen erforderlich sind.
</p>
<p>Kontaktinformation der für das Durchsetzungsverfahren zuständigen Aufsicht:</p>

<h3>{{=accessibility_supervisory_authority_name}}</h3>
<address>
    {{accessibility_supervisory_authority_postal_co}}{{=accessibility_supervisory_authority_postal_co}}<br>{{/accessibility_supervisory_authority_postal_co}}

    {{accessibility_supervisory_authority_postal_street}}
    {{=accessibility_supervisory_authority_postal_street}}<br>
    {{/accessibility_supervisory_authority_postal_street}}
    {{accessibility_supervisory_authority_postal_city}}
    {{=accessibility_supervisory_authority_postal_code}}
    {{=accessibility_supervisory_authority_postal_city}}
    {{/accessibility_supervisory_authority_postal_city}}
</address>

<ul>
    {{accessibility_supervisory_authority_phone}}
    <li><span>Telefon:</span> <a href="tel:{{=accessibility_supervisory_authority_phone}}">{{=accessibility_supervisory_authority_phone}}</a></li>
    {{/accessibility_supervisory_authority_phone}}
    {{accessibility_supervisory_authority_fax}}
    <li><span>Fax:</span> {{=accessibility_supervisory_authority_fax}}</li>
    {{/accessibility_supervisory_authority_fax}}
    {{accessibility_supervisory_authority_email}}
    <li><span>E-Mail:</span> <a href="mailto:{{=accessibility_supervisory_authority_email}}">{{=accessibility_supervisory_authority_email}}</a></li>
    {{/accessibility_supervisory_authority_email}}
    {{accessibility_supervisory_authority_url}}
    <li><span>URL:</span> <a href="{{=accessibility_supervisory_authority_url}}">{{=accessibility_supervisory_authority_url}}</a></li>
    {{/accessibility_supervisory_authority_url}}
</ul>
