{{imprint_responsible_person_organization}}
<p>
    Der Anbieter dieses Webangebots ({{=imprint_responsible_person_organization}}) ist bemüht, das Angebot im Einklang
    mit der {{accessibility_url_law}}<a href="{{=accessibility_url_law}}">{{/accessibility_url_law}}gültigen
        Gesetzgebung{{accessibility_url_law}}</a>{{/accessibility_url_law}}
    barrierefrei zugänglich zu machen.
    {{:imprint_responsible_person_organization}}
    Die öffentlichen Stellen sind gemäß der Richtlinie (EU) 2016/2102 des
    Europäischen Parlaments und des Rates dazu verpflichtet, Webauftritte
    und mobile Anwendungen barrierefrei zugänglich zu machen.
    Dies erfolgt im Einklang mit der jeweils {{accessibility_url_law}}<a
        href="{{=accessibility_url_law}}">{{/accessibility_url_law}}gültigen
        Gesetzgebung{{accessibility_url_law}}</a>{{/accessibility_url_law}}.
</p>
{{/imprint_responsible_person_organization}}
{{imprint_scope_websites}}
<p>
    Diese Erklärung zur Barrierefreiheit gilt für die Webauftritte und Anwendungen, die unter
    <strong><em>{{=imprint_scope_websites}}</em></strong> verfügbar sind.
</p>
{{/imprint_scope_websites}}
<h2>Stand der Vereinbarkeit mit den Anforderungen ("Konformitätsstatus")</h2>

<div class="alert {{=accessibility_conformity_alert_style}}">
    <p>{{=accessibility_conformity_label}}</p>
</div>
{{accessibility_conformity_filled}}
<table class="nobackground" style="width: auto;">
    {{accessibility_compliance_method_label}}
    <tr>
        <th>Methodik der Prüfung:</th>
        <td>{{=accessibility_compliance_method_label}}</td>
    </tr>
    {{/accessibility_compliance_method_label}}
    {{accessibility_compliance_status_creation_date}}
    <tr>
        <th>Erstellungsdatum:</th>
        <td>{{=accessibility_compliance_status_creation_date}}</td>
    </tr>
    {{/accessibility_compliance_status_creation_date}}
    {{accessibility_compliance_status_last_review_date}}
    <tr>
        <th>Letzte Überprüfung:</th>
        <td>{{=accessibility_compliance_status_last_review_date}}</td>
    </tr>
    {{/accessibility_compliance_status_last_review_date}}
    {{accessibility_compliance_status_report_url}}
    <tr>
        <th>Bericht:</th>
        <td><a
                href="{{=accessibility_compliance_status_report_url}}">{{=accessibility_compliance_status_report_url}}</a>
        </td>
    </tr>
    {{/accessibility_compliance_status_report_url}}
</table>


<h2>Bekannte Probleme bei der Barrierefreiheit</h2>
<p>
    Auflistung und Erläuterung der Probleme bei der Umsetzung der Barrierefreiheit dieses Webauftritts.
</p>
{{/accessibility_conformity_filled}}

<h3>Nicht barrierefrei zugängliche Inhalte</h3>
{{=accessibility_non_accessible_content_list}}
{{=accessibility_statement_non_accessible_content_text}}

{{accessibility_statement_non_accessible_content_reason}}
<h3>Begründung</h3>
{{=accessibility_statement_non_accessible_content_reason}}
{{/accessibility_statement_non_accessible_content_reason}}

{{accessibility_statement_non_accessible_content_alternative}}
<h3>Alternative Zugangswege</h3>
{{=accessibility_statement_non_accessible_content_alternative}}
{{/accessibility_statement_non_accessible_content_alternative}}


<h2>Hilfe und Kontaktaufnahme bei Problemen</h2>
<p>
    Sie können Mängel bei der Einhaltung der Anforderungen an
    die Barrierefreiheit mitteilen oder Informationen, die nicht barrierefrei
    dargestellt werden müssen, barrierefrei anfordern.
</p>

<h3>Kontaktperson</h3>
{{accessibility_feedback_contact_person}}
<p>{{=accessibility_feedback_contact_person}}</p>
{{/accessibility_feedback_contact_person}}

{{accessibility_feedback_contact_address}}
<address>
    {{=accessibility_feedback_contact_address}}
</address>
{{/accessibility_feedback_contact_address}}

<ul class="person-info">
    {{accessibility_feedback_contact_phone}}
    <li class="person-info-phone"><span class="screen-reader-text">Telefon: </span>
        {{=accessibility_feedback_contact_phone}}
    </li>
    {{/accessibility_feedback_contact_phone}}
    {{accessibility_feedback_contact_email}}
    <li class="person-info-email"><span class="screen-reader-text">E-Mail:</span> <a
            href="mailto:{{=accessibility_feedback_contact_email}}">{{=accessibility_feedback_contact_email}}</a></li>
    {{/accessibility_feedback_contact_email}}
</ul>

{{accessibility_contact_form}}
<h3 id="contact-form">Kontaktformular</h3>
{{=accessibility_contact_form}}
{{/accessibility_contact_form}}

<h2>Durchsetzungsverfahren</h2>
<p>
    Bleibt eine Anfrage über die Kontaktmöglichkeit innerhalb von sechs Wochen ganz oder teilweise unbeantwortet,
    prüft die zuständige Aufsichtsbehörde auf Antrag des Nutzers,
    ob im Rahmen der Überwachung gegenüber dem Verpflichteten Maßnahmen erforderlich sind.
</p>
<p>Kontaktinformation der für das Durchsetzungsverfahren zuständigen Aufsicht:</p>
<p><strong>{{=accessibility_controlling}}</strong>
    {{accessibility_controlling_namezusatz}}
    <br>{{=accessibility_controlling_namezusatz}}
    {{/accessibility_controlling_namezusatz}}
</p>
<address>
    {{accessibility_controlling_street}}
    {{=accessibility_controlling_street}}<br>
    {{/accessibility_controlling_street}}
    {{accessibility_controlling_city}}
    {{=accessibility_controlling_plz}}
    {{=accessibility_controlling_city}}
    {{/accessibility_controlling_city}}
</address>
<ul class="person-info">
    {{accessibility_controlling_phone}}
    <li class="person-info-phone"><span class="screen-reader-text">Telefon: </span> {{=accessibility_controlling_phone}}
    </li>
    {{/accessibility_controlling_phone}}
    {{accessibility_controlling_fax}}
    <li class="person-info-fax"><span class="screen-reader-text">Fax:</span> {{=accessibility_controlling_fax}}</li>
    {{/accessibility_controlling_fax}}
    {{accessibility_controlling_email}}
    <li class="person-info-email"><span class="screen-reader-text">E-Mail:</span> <a
            href="mailto:{{=accessibility_controlling_email}}">{{=accessibility_controlling_email}}</a></li>
    {{/accessibility_controlling_email}}
    {{accessibility_controlling_url}}
    <li class="person-info-www"><span class="screen-reader-text">Web:</span> <a
            href="{{=accessibility_controlling_url}}">{{=accessibility_controlling_url}}</a></li>
    {{/accessibility_controlling_url}}
</ul>