<h2>Enforcement procedures</h2>
<p>
    If a request via the contact option remains wholly or partially unanswered within six weeks, the competent
    supervisory authority shall examine, at the request of the user, whether measures are necessary in the context of
    monitoring vis-à-vis the obligated party.
</p>
<p>Contact information of the enforcement oversight body:</p>

<div class="rrze-legal-contactinfos">
<h3>{{=accessibility_supervisory_authority_name}}</h3>
<address>
    {{accessibility_supervisory_authority_postal_co}}{{=accessibility_supervisory_authority_postal_co}}<br>{{/accessibility_supervisory_authority_postal_co}}

    {{accessibility_supervisory_authority_postal_street}}
    {{=accessibility_supervisory_authority_postal_street}}<br>
    {{/accessibility_supervisory_authority_postal_street}}
    {{accessibility_supervisory_authority_postal_city}}
    {{=accessibility_supervisory_authority_postal_code}}
    {{=accessibility_supervisory_authority_postal_city}}
    {{/accessibility_supervisory_authority_postal_city}}
</address>

<ul>
    {{accessibility_supervisory_authority_phone}}
    <li><span>Phone:</span> <a href="tel:{{=accessibility_supervisory_authority_phone}}">{{=accessibility_supervisory_authority_phone}}</a></li>
    {{/accessibility_supervisory_authority_phone}}
    {{accessibility_supervisory_authority_fax}}
    <li><span>Fax:</span> {{=accessibility_supervisory_authority_fax}}</li>
    {{/accessibility_supervisory_authority_fax}}
    {{accessibility_supervisory_authority_email}}
    <li><span>Email:</span> <a href="mailto:{{=accessibility_supervisory_authority_email}}">{{=accessibility_supervisory_authority_email}}</a></li>
    {{/accessibility_supervisory_authority_email}}
    {{accessibility_supervisory_authority_url}}
    <li><span>URL:</span> <a href="{{=accessibility_supervisory_authority_url}}">{{=accessibility_supervisory_authority_url}}</a></li>
    {{/accessibility_supervisory_authority_url}}
</ul>
</div>
