<h2>Website owner</h2>

{{=imprint_representation_template}}


{{imprint_responsible_person_name}}
<h2>Responsibility for content</h2>
<p>{{=imprint_responsible_person_name}}</p>
{{/imprint_responsible_person_name}}

<address>
    {{imprint_responsible_person_street}}
    {{=imprint_responsible_person_street}}<br>
    {{/imprint_responsible_person_street}}
    {{imprint_responsible_person_city}}
    {{=imprint_responsible_person_postal_code}}
    {{=imprint_responsible_person_city}}
    {{/imprint_responsible_person_city}}
</address>
<ul>
    {{imprint_responsible_person_phone}}
    <li><span>Phone:</span> <a href="tel:{{=imprint_responsible_person_phone}}">{{=imprint_responsible_person_phone}}</a></li>
    {{/imprint_responsible_person_phone}}
    {{imprint_responsible_person_fax}}
    <li><span>Fax:</span> {{=imprint_responsible_person_fax}}</li>
    {{/imprint_responsible_person_fax}}
    {{imprint_responsible_person_email}}
    <li><span>EMail:</span> <a href="mailto:{{=imprint_responsible_person_email}}">{{=imprint_responsible_person_email}}</a></li>
    {{/imprint_responsible_person_email}}
</ul>


<h3>Editorial and technical contacts</h3>
<p>
    {{=imprint_webmaster_name}}
</p>
<ul>
    {{imprint_webmaster_phone}}
    <li><span>Phone</span> <a href="tel:{{=imprint_webmaster_phone}}">{{=imprint_webmaster_phone}}</a></li>
    {{/imprint_webmaster_phone}}
    {{imprint_webmaster_fax}}
    <li><span>Fax:</span> {{=imprint_webmaster_fax}}</li>
    {{/imprint_webmaster_fax}}
    {{imprint_webmaster_email}}
    <li><span>EMail:</span> <a href="mailto:{{=imprint_webmaster_email}}">{{=imprint_webmaster_email}}</a></li>
    {{/imprint_webmaster_email}}
</ul>

{{=imprint_supervisory_authority_template}}
{{=imprint_id_numbers_template}}
{{=imprint_it_security_template}}

{{imprint_optional_new_section}}
{{=imprint_optional_new_section_content}}
{{/imprint_optional_new_section}}





[collapsibles expand-all-link="true"]
[collapse title="Copyright"]
<h2>Copyright</h2>
<p>
Texts, images, graphics and the design of these websites may be subject to copyright.
</p><p>
As a private individual, you may use copyrighted material for private and other personal
use within the scope of Section 53 of the Copyright Act (UrhG). Reproduction or use of 
these pages or parts thereof in other electronic or printed publications and their 
publication is only permitted with our consent. This consent is granted upon request 
by those responsible for the content. The reprint and evaluation of press releases 
and speeches is generally permitted provided the source is stated.
</p><p>
Furthermore, texts, images, graphics and other files may be subject in whole or 
in part to the copyright of third parties. Those responsible for the content 
will also provide you with more detailed information about the existence of 
possible third-party rights, provided that these rights are not already 
identified by corresponding notices on the website.
</p>

{{imprint_optional_image_rights}}
{{=imprint_optional_image_rights_content}}
{{/imprint_optional_image_rights}}

[/collapse][collapse title="Exclusions"]
<h2>Exclusion of liability</h2>

<p>
    {{imprint_websites_extra}}
    This imprint only belongs to the following websites:<br>
    {{:imprint_websites_extra}}
    This imprint only belongs to this website:<br>
    {{/imprint_websites_extra}}
    <strong><em>{{=imprint_scope_websites}}</em></strong>
</p>
<p>
    The operator has compiled and verified all information provided with great care.
    However, we cannot assume liability or furnish a guarantee that the data is correct,
    complete or up-to-date, or regarding the quality or constant availability of the
    information provided.
</p>
<p>
    We will not be liable for any damages arising from computer viruses or the installation
    and use of software when accessing or downloading data from this website.
</p>
<p>
    Websites credited to an author reflect the opinions and insights of that author.
</p>
<p>
    The operator expressly reserves the right to change, amend or delete individual web
    pages, services or the entire website without prior notice or to interrupt or terminate the publication.
</p>
<h3>Links and references (disclaimer)</h3>
<p>
   Cross-references (links) to the websites of other providers must be 
   distinguished from our own content. Through these links we only enable access
   to the use of third-party content in accordance with Section 8 Telemediengesetz. 
   When we first linked to these Internet offers, we checked 
   this third-party content to see whether it could trigger any possible civil 
   or criminal liability. However, we cannot constantly check this third-party 
   content for changes and therefore cannot accept any responsibility for it. 
   The respective provider of the site is solely liable for illegal, incorrect 
   or incomplete content and in particular for damages resulting from the use 
   or non-use of information from third parties.
</p>
[/collapse]
{{=imprint_whistleblower_system_template}}
[/collapsibles]


