{{imprint_id_numbers_exists}}
<div class="id-numbers">
<h2>ID numbers</h2>
<table>
    <tbody>
	{{imprint_id_numbers_ustg}}
        <tr>
            <th>VAT identification number</th>
            <td>{{=imprint_id_numbers_ustg}}</td>
        </tr>
	{{/imprint_id_numbers_ustg}}
	{{imprint_id_numbers_tax}}
        <tr>
             <th>Tax number</th>
            <td>{{=imprint_id_numbers_tax}}</td>
        </tr>
	{{/imprint_id_numbers_tax}}
	{{imprint_id_numbers_duns}}
        <tr>
            <th>DUNS number</th>
            <td>{{=imprint_id_numbers_duns}}</td>
        </tr>
	{{/imprint_id_numbers_duns}}
	{{imprint_id_numbers_eori}}
        <tr>
            <th>EORI number</th>
            <td>{{=imprint_id_numbers_eori}}</td>
        </tr>
	{{/imprint_id_numbers_eori}}
	{{imprint_id_numbers_bankdata}}
        <tr>
            <th>Bank details:</th>
            <td>
		{{imprint_id_numbers_bankname}}{{=imprint_id_numbers_bankname}}<br>{{/imprint_id_numbers_bankname}}
		{{imprint_id_numbers_iban}}IBAN: {{=imprint_id_numbers_iban}}<br>{{/imprint_id_numbers_iban}}
		{{imprint_id_numbers_bic}}SWIFT/BIC-Code: {{=imprint_id_numbers_bic}}<br>{{/imprint_id_numbers_bic}}
            </td>
        </tr>
	{{/imprint_id_numbers_bankdata}}
    </tbody>
</table>
</div>
{{/imprint_id_numbers_exists}}