<div class="alert alert-danger">
    <p>
        Der Name der für diesen Webauftritt verantwortlichen Person wurde noch nicht angegeben.
        Bitte informieren Sie den für den Webauftritt unten angegebenen Ansprechpartner ("Webmaster"), damit dieser
        diesen Fehler korrigiert.
    </p>
    <p>
        Sollte dieser Umstand länger anhalten, informieren Sie den IT Dienstleister der
        FAU unter <a href="mailto:webmaster@fau.de">webmaster@fau.de</a>
        damit dieser die notwendigen Maßnahmen entsprechend den
        <a
            href="https://www.rrze.fau.de/infocenter/rahmenbedingungen/richtlinien/richtlinien-fuer-webauftritte-an-der-fau/">Richtlinien
            für Webauftritte an der FAU</a> ergreift.
    </p>
</div>