{{imprint_whistleblower_system_url}}
[collapse title="Communications of information about violations according to the Whistleblower Protection Act"]
<p>
    The reporting of violations by whistleblowers can play a crucial role in uncovering, preventing, containing, or
    eliminating risks to public health and consumer protection that may arise from otherwise potentially unnoticed
    violations of legal provisions.
</p>
<p>
    <strong>Internal Reporting Office</strong>: <a href="{{=imprint_whistleblower_system_url}}">{{=imprint_whistleblower_system_linktitle}}</a>  
</p>
[/collapse]
{{/imprint_whistleblower_system_url}}

