<h3>Rechtsform und Vertretung</h3>
<p>
    Die <a href="https://www.fau.de/">Friedrich-Alexander-Universität Erlangen-Nürnberg (FAU)</a> ist eine Körperschaft
    des Öffentlichen Rechts und zugleich staatliche Einrichtung
    nach Art. 1 Abs. 1 <abbr title="Bayerisches Hochschulrahmengesetz">BayHSchG</abbr>. Sie wird gesetzlich vertreten
    durch den Präsidenten.
</p>
{{imprint_responsible_person_organization}}
<p>
    Die inhaltliche Bereitstellung dieses Webangebots erfolgt durch: {{=imprint_responsible_person_organization}}.
</p>
{{/imprint_responsible_person_organization}}