<h3>Legal form and representation</h3>
<p>
    The <a href="https://www.fau.eu/">Friedrich-Alexander-Universität Erlangen-Nürnberg (FAU)</a> 
    is a state institution and also a legal personality under public law according to
    Art. 4 Para. 1 <abbr lang="de" title="Bayerisches Hochschulinnovationsgesetz"> BayHIG</abbr>. 
    It is legally represented by the President.
</p>
{{imprint_responsible_person_organization}}
<p>
    This website ist maintained by: {{=imprint_responsible_person_organization}}.
</p>
{{/imprint_responsible_person_organization}}