<h3>ID numbers</h3>
<table>
    <tbody>
        <tr>
            <th>VAT identification number</th>
            <td>DE 132507686</td>
        </tr>
        <tr>
            <th>Tax number</th>
            <td>216/114/20045 (Finanzamt Erlangen)</td>
        </tr>
        <tr>
            <th>DUNS number</th>
            <td>327958716</td>
        </tr>
        <tr>
            <th>EORI number</th>
            <td>DE4204891</td>
        </tr>
        <tr>
            <th>Bank details:</th>
            <td>Bayerische Landesbank München
                <ul>
                    <li>SWIFT/BIC-Code: BYLADEMMXXX</li>
                    <li>IBAN: DE66700500000301279280</li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>