{{imprint_whistleblower_system_url}}
[collapse title="Mitteilungen von Informationen über Verstöße gemäß Hinweisgeberschutzgesetz"]
<p>
    Die Meldung von Verstößen durch Hinweisgeber kann entscheidend dazu beitragen, Risiken für die öffentliche
    Gesundheit und den Verbraucherschutz, die aus andernfalls womöglich unbemerkten Verstößen gegen Rechtsvorschriften
    erwachsen, aufzudecken, zu verhindern, einzudämmen oder zu beseitigen.
</p>
<p>
    <strong>Interne Meldestelle</strong>:   <a href="{{=imprint_whistleblower_system_url}}">{{=imprint_whistleblower_system_linktitle}}</a>  
</p>
[/collapse]
{{/imprint_whistleblower_system_url}}