{{imprint_whistleblower_system_url}}
[collapse title="Mitteilungen von Informationen über Verstöße gemäß Hinweisgeberschutzgesetz"]

<p>
    Die interne Meldestelle nach dem Hinweisgeberschutzgesetz steht allen Beschäftigten und sonstigen Personen offen, die 
    im Zusammenhang mit ihrer beruflichen Tätigkeit an der Universität Informationen über mögliche Rechtsverstöße erlangt haben.
    Auch ehemalige Beschäftigte sowie Bewerberinnen und Bewerber können sich an die Meldestelle werden. 
    Die Meldung wird vertraulich behandelt.
<p>
    <strong>Interne Meldestelle</strong>:   <a href="{{=imprint_whistleblower_system_url}}">{{=imprint_whistleblower_system_linktitle}}</a>  
</p>
[/collapse]
{{/imprint_whistleblower_system_url}}