<h3>Represented by</h3>
{{imprint_responsible_person_organization}}
{{=imprint_responsible_person_organization}}
is a body of public law within the
<a href="https://www.fau.de/">Friedrich-Alexander-Universität Erlangen-Nürnberg (FAU)</a>.
</p>
{{/imprint_responsible_person_organization}}
<p>
    According to Art. 20, 21 <abbr title="Bayerisches Hochschulrahmengesetz"> BayHSchG</abbr>,
    the FAU, as a state institution and self-governing body under public law,
    is represented externally by the President.
</p>