{{imprint_whistleblower_system_url}}
[collapse title="Communications of information about violations according to the Whistleblower Protection Act"]
<p>
    The internal reporting office under the Whistleblower Protection Act is open to all employees and other persons
    who have obtained information about possible legal violations in connection with their professional activities at the university.
    Former employees and applicants can also contact the reporting office.
    Reports will be treated confidentially.
</p>
<p>
    <strong>Internal Reporting Office</strong>: <a href="{{=imprint_whistleblower_system_url}}">{{=imprint_whistleblower_system_linktitle}}</a>  
</p>
[/collapse]
{{/imprint_whistleblower_system_url}}

