<div class="alert alert-danger">
    <p>
        The name of the person responsible for this web site has not yet been specified.
        Please inform the contact person ("webmaster") indicated below for the web presence, to corrects this mistake.
    </p>
    <p>
        If this circumstance lasts longer, inform the IT service provider of the FAU at <a
            href="mailto:webmaster@fau.de">webmaster@fau.de</a>
        so that they can enforce the necessary measures in accordance with the
        <a
            href="https://www.rrze.fau.de/infocenter/rahmenbedingungen/richtlinien/richtlinien-fuer-webauftritte-an-der-fau/">FAU
            Web Site Policy</a>.
    </p>
</div>