<h3>Identifikationsnummern</h3>
<table class="nobackground">
    <tbody>
        <tr>
            <th>Umsatzsteuer-Identifikationsnummer<br>
                (gemäß § 27a Umsatzsteuergesetz)</th>
            <td>DE 132507686</td>
        </tr>
        <tr>
            <th>Steuernummer</th>
            <td>216/114/20045 (Finanzamt Erlangen)</td>
        </tr>
        <tr>
            <th>DUNS-Nummer</th>
            <td>327958716</td>
        </tr>
        <tr>
            <th>EORI-Nummer</th>
            <td>DE4204891</td>
        </tr>
        <tr>
            <th>Bankverbindung</th>
            <td>Bayerische Landesbank München
                <ul>
                    <li>SWIFT/BIC-Code: BYLADEMMXXX</li>
                    <li>IBAN: DE66700500000301279280</li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>