<h2>Website owner</h2>
{{imprint_responsible_person_name}}
<p>{{=imprint_responsible_person_name}}</p>
{{:imprint_responsible_person_name}}
{{=imprint_no_responsible_person_template}}
{{/imprint_responsible_person_name}}

<address>
    {{imprint_responsible_person_street}}
    {{=imprint_responsible_person_street}}<br>
    {{/imprint_responsible_person_street}}
    {{imprint_responsible_person_city}}
    {{=imprint_responsible_person_postal_code}}
    {{=imprint_responsible_person_city}}
    {{/imprint_responsible_person_city}}
</address>
<ul class="person-info">
    {{imprint_responsible_person_phone}}
    <li class="person-info-phone"><span>Phone:</span> {{=imprint_responsible_person_phone}}
    </li>
    {{/imprint_responsible_person_phone}}
    {{imprint_responsible_person_fax}}
    <li class="person-info-fax"><span>Fax:</span> {{=imprint_responsible_person_fax}}</li>
    {{/imprint_responsible_person_fax}}
    {{imprint_responsible_person_email}}
    <li class="person-info-email"><span>EMail:</span> <a
            href="mailto:{{=imprint_responsible_person_email}}">{{=imprint_responsible_person_email}}</a></li>
    {{/imprint_responsible_person_email}}
</ul>

{{=imprint_representation_template}}

<h3>Website Contact (Webmaster)</h3>
<p>
    {{=imprint_webmaster_name}}
</p>
<ul class="person-info">
    {{imprint_webmaster_phone}}
    <li class="person-info-phone"><span>Phone:</span> {{=imprint_webmaster_phone}}</li>
    {{/imprint_webmaster_phone}}
    {{imprint_webmaster_fax}}
    <li class="person-info-fax"><span>Fax:</span> {{=imprint_webmaster_fax}}</li>
    {{/imprint_webmaster_fax}}
    {{imprint_webmaster_email}}
    <li class="person-info-email"><span>EMail:</span> <a
            href="mailto:{{=imprint_webmaster_email}}">{{=imprint_webmaster_email}}</a></li>
    {{/imprint_webmaster_email}}
</ul>

{{imprint_optional_image_rights}}
{{=imprint_optional_image_rights_content}}
{{/imprint_optional_image_rights}}

{{imprint_optional_new_section}}
{{=imprint_optional_new_section_content}}
{{/imprint_optional_new_section}}

{{=imprint_supervisory_authority_template}}
{{=imprint_id_numbers_template}}
{{=imprint_it_security_template}}

[collapsibles expand-all-link="true"]
[collapse title="Copyright"]
<h2>Copyright</h2>
<p>
    Unless specified otherwise, all pages of the FAU website are protected by copyright.
    This applies in particular to texts, images, charts, and files containing style,
    sound, video, or animation data; it also includes the design of the website.
</p>
<p>
    This website uses the official FAU design templates (with some modifications).
    For usage rights and further information, please see the project website.
</p>
<p>
    Reproduction or use of (parts) of the web pages in electronic or printed form
    and their publication (including on the Internet) is subject to prior approval.
</p>
<p>
    Press releases, publications, scripts and information on lectures may be reprinted
    and evaluated provided that the source is indicated.
    Furthermore, images, charts, and files containing text or other information, may,
    in part or in their entirety, be subject to the copyright of third parties.
</p>
<p>
    All registered brands and trademarks mentioned on this website and possibly protected
    by third parties are subject without restriction to the respective applicable trademark
    law and the property rights of their respective owners. The mere mention of trademarks
    on this website does not indicate that they are not protected by third party rights.
</p>
[/collapse][collapse title="Exclusions"]
<h2>Exclusion of liability</h2>

<p>
    {{imprint_websites_extra}}
    This imprint only belongs to the following websites:<br>
    {{:imprint_websites_extra}}
    This imprint only belongs to the following website:<br>
    {{/imprint_websites_extra}}
    <strong><em>{{=websites}}</em></strong>
    <br>
    The website owner is not responsible for other websites, that are not listed above.
</p>
<p>
    The operator has compiled and verified all information provided with great care.
    However, we cannot assume liability or furnish a guarantee that the data is correct,
    complete or up-to-date, or regarding the quality or constant availability of the
    information provided.
</p>
<p>
    We will not be liable for any damages arising from computer viruses or the installation
    and use of software when accessing or downloading data from this website.
</p>
<p>
    Websites credited to an author reflect the opinions and insights of that author.
</p>
<p>
    The operator expressly reserves the right to change, amend or delete individual web
    pages, services or the entire website without prior notice or to interrupt or terminate the publication.
</p>
[/collapse][collapse title="Disclaimer"]
<h2>Links and references (disclaimer)</h2>
<p>
    The operator is only responsible for the original content provided in accordance with
    the applicable laws. This original content is to be distinguished from links to the
    websites of other operators. Through these references marked as ‘external links’,
    the operator enables visitors to access ‘third-party content’.
</p>
<p>
    The operator is not responsible for this third-party content as the operator does not
    initiate the data transmission, does not choose the recipient of the information and does
    not select or have any influence on the information transmitted. The methods used to
    provide access and link to this third-party information also do not involve any automatic
    short-term storage, resulting in a full exclusion of any liability for third-party content
    on the operator’s part.
</p>
<p>
    When links to these websites were first incorporated, however, the authors of the relevant
    websites or the operator’s editors reviewed the external content to ascertain whether it
    would possibly entail liability under civil or criminal law. Should the operator become
    aware or be made aware by others that the content of a website linked from this site could
    constitute a civil or criminal law violation, then the link will be immediately removed
    as long as this is technically feasible and within reasonable expectation.
</p>
<p>
    Liability for illegal, inaccurate or incomplete content and for damages resulting from
    the use or non-use of information provided by third parties shall lie exclusively with
    the respective operators of the linked sites.
</p>
[/collapse]
[/collapsibles]

{{imprint_optional_whistleblower_system_url}}
<h2>Communications of information about violations according to the Whistleblower Protection Act</h2>
<p>
    The reporting of violations by whistleblowers can play a crucial role in uncovering, preventing, containing, or
    eliminating risks to public health and consumer protection that may arise from otherwise potentially unnoticed
    violations of legal provisions.
</p>
<p>
    <strong>Internal Reporting Office</strong><br>
    <li>
        <a href="{{=imprint_optional_whistleblower_system_url}}">Link to the whistleblower system</a>
    </li>
</p>
{{/imprint_optional_whistleblower_system_url}}