<h2>Herausgeber</h2>


{{=imprint_representation_template}}


{{imprint_responsible_person_name}}
<h2>Inhaltliche Verantwortung</h2>
<p>{{=imprint_responsible_person_name}}</p>
{{/imprint_responsible_person_name}}

<address>
    {{imprint_responsible_person_street}}
    {{=imprint_responsible_person_street}}<br>
    {{/imprint_responsible_person_street}}
    {{imprint_responsible_person_city}}
    {{=imprint_responsible_person_postal_code}}
    {{=imprint_responsible_person_city}}
    {{/imprint_responsible_person_city}}
</address>
<ul>
    {{imprint_responsible_person_phone}}
    <li><span>Telefon:</span> <a href="tel:{{=imprint_responsible_person_phone}}">{{=imprint_responsible_person_phone}}</a></li>
    {{/imprint_responsible_person_phone}}
    {{imprint_responsible_person_fax}}
    <li><span>Fax:</span> {{=imprint_responsible_person_fax}}</li>
    {{/imprint_responsible_person_fax}}
    {{imprint_responsible_person_email}}
    <li><span>E-Mail:</span> <a href="mailto:{{=imprint_responsible_person_email}}">{{=imprint_responsible_person_email}}</a></li>
    {{/imprint_responsible_person_email}}
</ul>


<h3>Redaktion und technische Ansprechpartner</h3>
<p>
    {{=imprint_webmaster_name}}
</p>
<ul>
    {{imprint_webmaster_phone}}
    <li><span>Telefon:</span> <a href="tel:{{=imprint_webmaster_phone}}">{{=imprint_webmaster_phone}}</a></li>
    {{/imprint_webmaster_phone}}
    {{imprint_webmaster_fax}}
    <li><span>Fax:</span> {{=imprint_webmaster_fax}}</li>
    {{/imprint_webmaster_fax}}
    {{imprint_webmaster_email}}
    <li><span>E-Mail:</span> <a href="mailto:{{=imprint_webmaster_email}}">{{=imprint_webmaster_email}}</a></li>
    {{/imprint_webmaster_email}}
</ul>

{{=imprint_supervisory_authority_template}}
{{=imprint_id_numbers_template}}
{{=imprint_it_security_template}}

{{imprint_optional_new_section}}
{{=imprint_optional_new_section_content}}
{{/imprint_optional_new_section}}


[collapsibles expand-all-link="true"]
[collapse title="Nutzungsbedingungen"]
<p>
    Texte, Bilder, Grafiken sowie die Gestaltung dieser Internetseiten
    können dem Urheberrecht unterliegen.
</p>
<p>
    Als Privatperson dürfen Sie urheberrechtlich geschütztes Material zum privaten
    und sonstigen eigenen Gebrauch im Rahmen des 
    <a href="http://www.gesetze-im-internet.de/urhg/__53.html">
        § 53 Urheberrechtsgesetz (UrhG)
    </a> 
    verwenden. Eine Vervielfältigung oder Verwendung dieser Seiten oder Teilen
    davon in anderen elektronischen oder gedruckten Publikationen und deren
    Veröffentlichung ist nur mit unserer Einwilligung gestattet. Diese erteilen
    auf Anfrage die für den Inhalt Verantwortlichen. Der Nachdruck und die
    Auswertung von Pressemitteilungen und Reden sind mit Quellenangabe allgemein
    gestattet.
</p>
<p>
    Weiterhin können Texte, Bilder, Grafiken und sonstige Dateien ganz oder
    teilweise dem Urheberrecht Dritter unterliegen. Auch über das Bestehen
    möglicher Rechte Dritter geben Ihnen die für den Inhalt Verantwortlichen
    nähere Auskünfte, sofern diese Rechte nicht bereits durch entsprechende
    Hinweise im Webangebot kenntlich gemacht sind.
</p>

{{imprint_optional_image_rights}}
{{=imprint_optional_image_rights_content}}
{{/imprint_optional_image_rights}}

[/collapse]
[collapse title="Haftungsausschluss"]

<p>
    {{imprint_websites_extra}}
    Dieses Impressum gilt nur für die Webauftritte unter den Adressen:<br>
    {{:imprint_websites_extra}}
    Dieses Impressum gilt nur für den Webauftritt unter dieser Adresse:<br>
    {{/imprint_websites_extra}}
    <strong><em>{{=imprint_scope_websites}}</em></strong>
</p>

<p>
    Alle auf dieser Internetseite bereitgestellten Informationen haben wir nach
    bestem Wissen und Gewissen erarbeitet und geprüft. Eine Gewähr für die
    jederzeitige Aktualität, Richtigkeit, Vollständigkeit und Verfügbarkeit der
    bereit gestellten Informationen können wir allerdings nicht übernehmen. Ein
    Vertragsverhältnis mit den Nutzern des Internetangebots kommt nicht
    zustande.
</p>
<p>
    Wir haften nicht für Schäden, die durch die Nutzung dieses Internetangebots entstehen.
    Dieser Haftungsausschluss gilt nicht, soweit die Vorschriften des § 839 BGB (Haftung bei Amtspflichtverletzung) 
    einschlägig sind. Für etwaige Schäden, die beim Aufrufen oder Herunterladen von Daten durch Schadsoftware 
    oder der Installation oder Nutzung von Software verursacht werden, wird nicht gehaftet.
</p>

<h3>Haftung für Links</h3>
<p>
   Von unseren eigenen Inhalten sind Querverweise (Links) auf die Webseiten anderer Anbieter zu unterscheiden. 
   Durch diese Links ermöglichen wir lediglich den Zugang zur Nutzung fremder Inhalte nach § 8 Telemediengesetz. 
   Bei der erstmaligen Verknüpfung mit diesen Internetangeboten haben wir diese fremden Inhalte daraufhin überprüft,
   ob durch sie eine mögliche zivilrechtliche oder strafrechtliche Verantwortlichkeit ausgelöst wird. 
   Wir können diese fremden Inhalte aber nicht ständig auf Veränderungen überprüfen und daher auch keine Verantwortung dafür übernehmen. 
   Für illegale, fehlerhafte oder unvollständige Inhalte und insbesondere für Schäden, die aus der Nutzung oder Nichtnutzung 
   von Informationen Dritter entstehen, haftet allein der jeweilige Anbieter der Seite.


</p>
[/collapse]
{{=imprint_whistleblower_system_template}}
[/collapsibles]


