<h3>Vertreten durch</h3>
{{imprint_responsible_person_organization}}
<p>
    {{=imprint_responsible_person_organization}}
    ist eine Einrichtung des Öffentlichen Rechts innerhalb der 
    <a href="https://www.fau.de/">Friedrich-Alexander-Universität Erlangen-Nürnberg (FAU)</a>.
</p>
{{/imprint_responsible_person_organization}}
<p>
    Gemäß Art. 20, 21 <abbr title="Bayerisches Hochschulrahmengesetz">BayHSchG</abbr>
    wird die FAU als staatliche Einrichtung und Selbstverwaltungskörperschaft
    des öffentlichen Rechts nach außen durch den Präsidenten vertreten.
</p>