<h2>Allgemeines zur Datenverarbeitung</h2>
<h3>Umfang der Verarbeitung personenbezogener Daten</h3>

<p>
    Wir verarbeiten personenbezogene Daten unserer Nutzer grundsätzlich nur, soweit dies zur Bereitstellung eines
    funktionsfähigen Webauftrittes sowie unserer Inhalte und Leistungen erforderlich ist. Die Verarbeitung
    personenbezogener Daten unserer Nutzer erfolgt regelmäßig nur nach Einwilligung des Nutzers. Eine Ausnahme gilt
    in solchen Fällen, in denen eine vorherige Einholung einer Einwilligung aus tatsächlichen Gründen nicht möglich
    ist und die Verarbeitung der Daten durch gesetzliche Vorschriften gestattet ist.
</p>

<h3>Rechtsgrundlage für die Verarbeitung personenbezogener Daten</h3>

<p>
    Soweit wir für Verarbeitungsvorgänge personenbezogener Daten eine Einwilligung der betroffenen Person einholen,
    dient Art. 6 Abs. 1 lit. a EU-Datenschutzgrundverordnung (DSGVO) als Rechtsgrundlage.<br>
    Bei der Verarbeitung von personenbezogenen Daten, die zur Erfüllung eines Vertrages, dessen Vertragspartei die
    betroffene Person ist, erforderlich ist, dient Art. 6 Abs. 1 lit. b DSGVO als Rechtsgrundlage. Dies gilt auch
    für Verarbeitungsvorgänge, die zur Durchführung vorvertraglicher Maßnahmen erforderlich sind.<br>
    Soweit eine Verarbeitung personenbezogener Daten zur Erfüllung einer rechtlichen Verpflichtung erforderlich ist,
    der unserer Universität unterliegt, dient Art. 6 Abs. 1 lit. c DSGVO als Rechtsgrundlage.<br>
    Für den Fall, dass lebenswichtige Interessen der betroffenen Person oder einer anderen natürlichen Person eine
    Verarbeitung personenbezogener Daten erforderlich machen, dient Art. 6 Abs. 1 lit. d DSGVO als
    Rechtsgrundlage.<br>
    Ist die Verarbeitung zur Erfüllung der gesetzlichen Aufgaben unserer Universität
    erforderlich, bildet Art. 6 Abs. 1 lit. e DSGVO i.V.m. Art. 4 und 5 BayDSG die
    Rechtsgrundlage für die Verarbeitung. Viele unserer Aufgaben ergeben sich aus
    Art. 2 und 3 BayHIG.
</p>

<h3>Datenlöschung und Speicherdauer</h3>

<p>
    Wir speichern Ihre personenbezogenen Daten nur so lange, wie dies zur Erfüllung
    unserer gesetzlichen Aufgaben bzw. der jeweiligen Verarbeitungstätigkeit
    erforderlich ist. In der Regel bewahren wir personenbezogene Daten 10 Jahre
    lang nach der Entstehung auf. Eine Übergabe an staatliche Archive bleibt dazu
    unberührt. Eine Speicherung kann darüber hinaus erfolgen, wenn dies durch den
    europäischen oder nationalen Gesetzgeber in unionsrechtlichen Verordnungen,
    Gesetzen oder sonstigen Vorschriften, denen der Verantwortliche unterliegt,
    vorgesehen wurde. Eine Sperrung oder Löschung der Daten erfolgt auch dann,
    wenn eine durch die genannten Normen vorgeschriebene Speicherfrist abläuft,
    es sei denn, dass eine Erforderlichkeit zur weiteren Speicherung der Daten für
    einen Vertragsabschluss oder eine Vertragserfüllung besteht.
</p>
{{=privacy_general_rightsdata_template}}
