<div class="alert alert-danger">
    <p>
        In relation to the General Data Protection Regulation (GDPR),
        the name of the person responsible for this website has not yet been provided.
        Please inform the contact person ("Webmaster") of the website in order to correct this error.
    </p>
    <p>
        If this circumstance lasts longer, inform the IT service provider of the FAU at <a
            href="mailto:webmaster@fau.de">webmaster@fau.de</a>
        so that they can enforce the necessary measures in accordance with the
        <a
            href="https://www.rrze.fau.de/infocenter/rahmenbedingungen/richtlinien/richtlinien-fuer-webauftritte-an-der-fau/">FAU
            Web Site Policy</a>.
    </p>
</div>