<h2>Note on the Privacy Policy</h2>
<p>
Unless otherwise specified, the use of all information we have about you is subject to this Privacy Policy.
The controller reserves the right to continuously adapt this Privacy Policy to the required security measures in line with technological developments and will announce any changes here.
</p>

<h2>Further Information</h2>

<h3>Technical and Organizational Measures</h3>
<p>
The controller has taken technical and organizational measures to protect your data against loss, destruction, or unauthorized access.
In addition, both the controller's employees and any service providers are obliged to maintain confidentiality and comply with data protection regulations.
</p>

<h3>SSL Encryption</h3>

<p>This website uses SSL encryption for security reasons and to protect the transmission of confidential content, such as
    enquiries you send to us as the website operator. You can recognize an encrypted connection by the browser address
    line changing from <code>http://</code> to <code>https://</code> and by the lock symbol in your browser bar.
</p>

<p>When SSL encryption is enabled, the data you transmit to us cannot be read by third parties.
</p>
