[collapse title="Contact and registration forms" name="forms"]
<h2>Registration forms</h2>
<h3>Description and scope of data processing</h3>
<p>You can register for seminars, events and courses via the forms available on our website. When you register, the data
    from the input form are transmitted to us.<br />
    In the course of the registration process, we request your consent for the processing of your personal data and draw
    your attention to this data protection policy.<br />
    No data are disclosed to third parties in connection with the data processing required for this purpose. Data are
    used exclusively for administration purposes related to seminars, courses and events.</p>
<h3>Legal basis for data processing</h3>
<p>Once the user has issued their consent, the legal basis for data processing following the user’s registration for a
    seminar, course or event is Art. 6 (1) (a) GDPR.</p>
<h3>Purpose of data processing</h3>
<p>The processing of personal data from the input form is solely for the purpose of allowing us to process the user’s
    registration for a seminar, course or event. If the user contacts us by email, this also constitutes our legitimate
    interests in processing the data.<br />
    All other personal data processed during the dispatch of an email serve to prevent misuse of the contact form and to
    ensure that our IT systems are secure.</p>
<h3>Storage period</h3>
<p>Data are deleted as soon as they are no longer necessary for fulfilling the purpose for which they were collected.
</p>
<h3>Options for filing an objection or requesting removal</h3>
<p>The user can withdraw their consent for the processing of their personal data at any time. If the user contacts us by
    email, they may withdraw their consent for the storage of their personal data at any time. In such cases, the
    conversation cannot continue<br />
    and all personal data which were stored when contact was made are deleted.</p>
[/collapse]