<h3>Contact forms</h3>
<h4>
    Description and scope of data processing
</h4>
<p>
    Our website contains contact forms that can be used to contact us electronically. If a user takes advantage of this option, the data entered in the input mask will be transmitted to us and stored.
    </p><p>
The specific data records are listed and explained in the respective contact forms. If there are any deviations or additions to the principles, purpose, and duration of storage listed here, these will be indicated in the respective contact forms. 
</p><p>
Alternatively, you can contact us via the email address provided. In this case, your personal data transmitted with the email will be stored. In this context, the data will not be passed on to third parties. 
The data will be used exclusively for processing the conversation.

</p>
<h4>Legal basis for data processing</h4>
<p>
    The legal basis for the processing of your personal data is Art. 6 (1) lit. a GDPR if the user has given their consent.</p><p>
The legal basis for the processing of your personal data transmitted in the course of sending an email is Art. 6 (1) lit. e GDPR in conjunction with Art. 4, 5 BayDSG. If contacts you by email with the aim of concluding a contract, the additional legal basis for processing is Art. 6 (1) lit. b GDPR.



</p>
<h4>Purpose of data processing</h4>
<p>
   The processing of your personal data from the input mask serves us solely for the purpose of processing the contact request.</p><p>
The other personal data processed during the sending process serves to prevent misuse of the contact form and to ensure the security of our information technology systems.

</p>
<h4>Duration of storage</h4>
<p>
    Your personal data will be deleted as soon as it is no longer required for the purpose for which it was collected. For personal data from the input mask of the contact form and those sent by email, this is the case when the respective conversation with you has ended. The conversation is ended when it can be inferred from the circumstances that the matter in question has been conclusively clarified. 
</p><p>
    The additional personal data collected during the sending process will be deleted after a period of seven days at the latest.

</p>

<h4>Right to object and right to erasure</h4>
<p>
   You have the option to object to the processing of your personal data at any time in the future when contacting us via the contact form or by email. In such a case, the conversation between you and us cannot be continued. All personal data stored in the course of contacting us will be deleted in this case.


</p>
