
{{privacy_optional_section_praeambel}}
{{=privacy_optional_section_praeambel_content}}
{{/privacy_optional_section_praeambel}}

<div class="rrze-legal-privacy-numbered-headings">
{{=privacy_controller_template}}
{{=privacy_dpo_template}}

{{privacy_optional_new_section_top}}
{{=privacy_optional_new_section_content_top}}
{{/privacy_optional_new_section_top}}

{{=privacy_general_template}}
{{=privacy_supervisory_authority_template}}

<h2>Technische Umsetzung</h2>
{{=privacy_technical_server_template}}
{{=privacy_technical_cookies_template}}
{{=privacy_technical_javascript_template}}
{{=privacy_technical_email_template}}

{{privacy_technical_services}}
<h2>Dienstleistungen</h2>
{{privacy_technical_newsletter}}
{{=privacy_technical_newsletter_template}}
{{/privacy_technical_newsletter}}
{{privacy_technical_contactforms}}
{{=privacy_technical_contactforms_template}}
{{/privacy_technical_contactforms}}
{{privacy_technical_registrationforms}}
{{=privacy_technical_registrationforms_template}}
{{/privacy_technical_registrationforms}}
{{/privacy_technical_services}}

{{privacy_external_service_providers}}
<h2>Verwendete externe Dienstleistungen und Werkzeuge</h2>
{{@service_providers_template}}
{{=_val}}
{{/@service_providers_template}}
{{/privacy_external_service_providers}}

{{privacy_optional_new_section}}
{{=privacy_optional_new_section_content}}
{{/privacy_optional_new_section}}

{{=privacy_closingstatement_template}}
</div>
