<h3>Electronic mail (email)</h3>
<p>
    Information that you send to us unencrypted by electronic mail (email) may be read by third parties during transmission. As a rule, we cannot verify your identity and do not know who is behind an email address. Legally secure communication by simple email is therefore not guaranteed. Like many email providers, we use filters against unwanted advertising ("spam filters"), which in rare cases may also automatically classify normal emails as unwanted advertising and delete them. Emails containing harmful programs ("viruses") are automatically deleted by us in any case.
</p>
<p>
    If you have concerns about transmitting personal data or other sensitive data, please agree on a suitable encryption method with the recipient (our employees) before transmission, or use postal mail.
</p>
