<h2>General information on data processing</h2>
<h3>Purposes and legal basis for the processing of personal data</h3>
<p>The purpose of processing is to fulfill the public tasks assigned to us by law.
Unless otherwise specified, the legal basis for the processing of your data is Art. 4 (1) of the Bavarian Data Protection Act (BayDSG) in conjunction with 
Art. 6 (1) (e) of the General Data Protection Regulation (GDPR). Accordingly, we are permitted to process the data necessary to fulfill a task incumbent upon us.
If you have consented to processing, data processing is based on 
Article 6(1)(a) GDPR.
</p>

<h3>Recipients of personal data</h3>
<p>If necessary, your data will be transmitted to the competent supervisory and auditing authorities for the purpose of exercising their respective control rights.
In order to avert threats to information technology security, log data may be forwarded to the State Office for Information Technology Security on the basis of Art. 44 BayDiG (for more details, see "Logging").
</p>

<h3>Duration of storage of personal data</h3>
<p>Your data will only be stored for as long as is necessary to fulfill the task, in compliance with statutory retention periods. </p>

<h3>Your rights</h3>

<p>
    Insofar as we process personal data about you, you as the data subject have the following rights:
</p>
<ul>
<li>You can request information about whether we process your personal data. If this is the case, you have the right to obtain information about this data and other information related to the processing (Art. 15 GDPR). Please note that this right to information may be restricted or excluded in certain cases 
    (see in particular Art. 10 of the Bavarian Data Protection Act - BayDSG). </li>
<li>If incorrect personal data is processed, you have the right to have it corrected (Art. 16 GDPR).</li>
<li>If the legal requirements are met, you may request the erasure or restriction of processing (Articles 17 and 18 GDPR).
    However, the right to erasure under Art. 17 (1) and (2) GDPR does not apply if the processing of personal data is necessary for the performance of a task carried out in the public interest or in the exercise of official authority (Art. 17 (3) (b) GDPR).</li>
<li>If you have consented to the processing and the processing is based on this consent, you can revoke your consent at any time for the future. 
    The lawfulness of the data processing carried out on the basis of the consent until revocation is not affected by this. </li>
<li>You have the right to object to the processing of your data at any time for reasons arising from your particular situation (Art. 21 GDPR). If the legal requirements are met, we will no longer process your personal data.</li>

</ul>
<p>
    Further restrictions, modifications, and, where applicable, exclusions of the aforementioned rights may arise from the General Data Protection Regulation or national legislation.
You can also obtain more detailed information on these rights from our data protection officer.

</p>