[collapse title="Rights of the data subject" name="datasubject"]
<h2>Rights of the data subject</h2>
<div lang="en">
    <p>With regard to the processing of your personal data, you as a data subject are
        entitled to the following rights pursuant to Art. 15 et seq. GDPR:
    </p>

    <ul>
        <li>You can request information as to whether we process your personal data. If
            this is the case, you have the right to information about this personal data
            as well as further information in connection with the processing (Art. 15 GDPR).
            Please note that this right of access may be restricted or excluded in certain
            cases (cf. in particular Art. 10 BayDSG).</li>
        <li>In the event that personal data about you is (no longer) accurate or incomplete,
            you may request that this data be corrected and, if necessary, completed
            (Art. 16 GDPR).</li>
        <li>If the legal requirements are met, you can demand that your personal data be erased
            (Art. 17 GDPR) or that the processing of this data be restricted (Art. 18 DSGVO).
            However, the right to erasure pursuant to Art. 17 (1) and (2) GDPR does not apply,
            inter alia, if the processing of personal data is necessary for the performance
            of a task carried out in the public interest or in the exercise of official
            authority or in the exercise of official authority vested (Art. 17 para. 3
            letter b GDPR).</li>
        <li>If you have given your consent to the processing, you have the right to
            withdrawal it at any time. The withdrawal will only take effect in the future;
            this means that the withdrawal does not affect the lawfulness of the processing
            operations carried out on the basis of the consent up to the withdrawal.</li>
        <li>For reasons arising from your particular situation, you may also object to the
            processing of your personal data by us at any time (Art. 21 GDPR). If the legal
            requirements are met, we will subsequently no longer process your personal
            data.</li>
        <li>Insofar as you have consented to the processing of your personal data or have
            agreed to the performance of the contract and the data processing is carried
            out automated , you may be entitled to data portability (Art. 20 GDPR).</li>
        <li>You have the right to lodge a complaint to a supervisory authority within the
            meaning of Art. 51 GDPR about the processing of your personal data. The
            responsible supervisory authority for Bavarian public authorities is the
            Bavarian Data Protection Commissioner, Wagmüllerstraße 18, 80538 Munich.</li>
    </ul>
</div>
[/collapse]