[collapse title="Contact form and contact by email" name="contact"]
<h2>Contact form and contact by email</h2>
<h3>
    Description and scope of data processing
</h3>
<p>
    Contact forms are available on our website that can be used to contact us electronically.
    If a user makes use of this possibility, the data they enter in the input form are
    transmitted to us and stored.
    The contact forms list and explain which data is required. The contact forms indicate if
    there are any deviations from or additions to the principles, purpose and duration of
    storage as presented here.
</p>
<h3>Legal basis for data processing
</h3>
<p>
    The legal basis for the processing of the data transmitted in the course of sending
    an email is Article 6 (1) lit. e DSGVO i.V.m. Art. 4 and 5 BayDSG for the fulfilment
    of the tasks of § 5 TMG, Art. 3 para. 1 BayEGovG and § 2 BayBITV</p>
<p>
    If the email contact aims to conclude a contract, then additional legal basis for
    the processing is Art. 6 para. 1 lit. b DSGVO.


</p>
<h3>Purpose of data processing</h3>
<p>
    The personal data from the input form are processed solely for the purpose of
    contacting the user. If the user contacts us by email, this also constitutes
    our legitimate interests in processing the data.<br>
    All other personal data processed during the dispatch of an email serve to prevent
    misuse of the contact form and to ensure that our IT systems are secure.
</p>
<h3>Storage period</h3>
<p>
    Data are deleted as soon as they are no longer necessary for fulfilling the purpose for
    which they were collected. This is the case for the personal data from the input
    template of the contact form and those data sent by email when the respective
    conversation with the user has ended. The conversation is regarded to have ended when it
    can be seen from the circumstances that the subject matter in question has been
    conclusively settled.
</p>

<h3>Options for filing an objection</h3>
<p>
    For reasons that arise from your particular situation, you may also object to the
    processing of personal data relating to us by us at any time (Art. 21 GDPR).
    If the legal requirements are met, we will no longer process your personal data in the following.
</p>

<h3>Obligation to provide</h3>
<p>Insofar as the personal data required for the performance of the contract is not specified, this is not possible for
    us.
</p>
[/collapse]