<h3>Cookies</h3>

<p>
    Zur korrekten technischen und funktionellen Bereitstellung dieses Informationsangebots verwenden wir Cookies. Cookies sind kleine Textdateien, die auf dem von Ihnen verwendeten Gerät gespeichert werden.
Rechtsgrundlage für die Speicherung von Informationen sowie die Verarbeitung personenbezogener Daten mittels Cookies ist § 25 TDDDG. 
</p>
<p>
Die Verwendung funktionaler Cookies ist freiwillig. Wenn diese Cookies blockiert werden, ist die Bereitstellung bestimmter Funktionen ggf. nicht in vollem Umfang möglich. 
Technisch notwendige Cookies sind nur für die jeweils aktuelle Sitzung gültig und werden automatisch gelöscht, sobald Sie Ihren Browser schließen.
</p>
<p>
In den Cookies werden dabei folgende Daten gespeichert und verarbeitet:
</p>

<ul>
    <li>Log-In-Informationen (im Falle von angemeldeten Redakteuren und Autoren)</li>
    <li>Bevorzugte Auswahl der Suchmaschine (bei Nutzung der Suchfunktion)</li>
</ul>

<p>Alle im Webauftritt verwendeten Cookies können individuell eingesehen und deren Zulassung bearbeitet werden:</p>
<p>
    <button type="button" class="rrzelegal-cookie-preference" data-rrzelegal-cookie-preference aria-haspopup="dialog" aria-controls="RRZELegalBanner">Cookie-Einstellungen</button>
</p>
