{{is_default_domain}}
<p>
    Für die Webangebote und Webauftritte der Friedrich-Alexander-Universität Erlangen-Nürnberg (FAU) ist der
    Verantwortliche im Sinne der Datenschutz-Grundverordnung (DSGVO) und anderer nationaler Datenschutzgesetze sowie
    sonstiger datenschutzrechtlicher Bestimmungen die FAU. Sie wird durch ihren Präsidenten gesetzlich vertreten.
    Die Kontaktinformationen erhalten Sie im
    <a href="https://www.fau.de/impressum">Impressum des zentralen Webauftritts der FAU.</a>
</p>
<p>
    Für die angebotenen Inhalte auf den Webangeboten und Webauftritten der Friedrich-Alexander-Universität
    Erlangen-Nürnberg (FAU) sind die jeweiligen Einrichtungen der FAU verantwortlich. Für Fragen im Zusammenhang mit
    einer betreffenden Angebot wenden Sie sich bitte an den jeweiligen verantwortlichen Ansprechpartner oder die
    jeweilige verantwortliche Ansprechpartnerin, wie er oder sie im <a href="/impressum">Impressum des Webauftritts</a>
    genannt ist.
</p>

<h2>Name und Anschrift des Datenschutzbeauftragten</h2>

<address>
    Norbert Gärtner, RD<br>
    Schloßplatz 4<br>
    91054 Erlangen
</address>

<ul class="person-info">
    <li class="person-info-phone"><span class="screen-reader-text">Telefon: </span> +49 9131 85-25860</li>
    <li class="person-info-fax"><span class="screen-reader-text">Fax:</span> +49 9131 85-70239</li>
    <li class="person-info-email"><span class="screen-reader-text">E-Mail:</span> <a
            href="mailto:datenschutzbeauftragter@fau.de">datenschutzbeauftragter@fau.de</a></li>
</ul>
{{:is_default_domain}}
<h2>Name und Anschrift des Datenschutzbeauftragten</h2>

<address>
    {{=privacy_dpo_name}}<br>
    {{=privacy_dpo_street}}<br>
    {{=privacy_dpo_postal_code}} {{=privacy_dpo_city}}
</address>

<ul class="person-info">
    {{privacy_dpo_phone}}
    <li class="person-info-phone"><span class="screen-reader-text">Telefon: </span> {{=privacy_dpo_phone}}</li>
    {{/privacy_dpo_phone}}
    {{privacy_dpo_fax}}
    <li class="person-info-fax"><span class="screen-reader-text">Fax:</span> {{=privacy_dpo_fax}}</li>
    {{/privacy_dpo_fax}}
    {{privacy_dpo_email}}
    <li class="person-info-email"><span class="screen-reader-text">E-Mail:</span> <a
            href="mailto:{{=privacy_dpo_email}}">{{=privacy_dpo_email}}</a></li>
    {{/privacy_dpo_email}}
</ul>
{{/is_default_domain}}