<h3>Cookies</h3>

<p>
    Unsere Webseite verwendet Cookies. Bei Cookies handelt es sich um Textdateien, die im Internetbrowser bzw. vom
    Internetbrowser auf dem Computersystem des Nutzers gespeichert werden. Ruft ein Nutzer einen Webauftritt auf, so
    kann
    ein Cookie auf dem Betriebssystem des Nutzers gespeichert werden. Dieser Cookie enthält eine charakteristische
    Zeichenfolge, die eine eindeutige Identifizierung des Browsers beim erneuten Aufrufen des Webauftrittes
    ermöglicht.
</p>

<p>
    Wir setzen Cookies ein, um unseren Webauftritt nutzerfreundlicher zu gestalten. Einige Elemente unserer
    Internetseite
    erfordern es, dass der aufrufende Browser auch nach einem Seitenwechsel identifiziert werden kann.<br>
    In den Cookies werden dabei folgende Daten gespeichert und übermittelt:
</p>

<ul>
    <li>Log-In-Informationen (im Falle von angemeldeten Redakteuren und Autoren)</li>
    <li>Bevorzugte Auswahl der Suchmaschine (bei Nutzung der Suchfunktion)</li>
</ul>

<p>
    Die auf diese Weise erhobenen Daten der Nutzer werden durch technische Vorkehrungen pseudonymisiert. Daher ist
    eine Zuordnung der Daten zum aufrufenden Nutzer nicht mehr möglich. Die Daten werden nicht gemeinsam mit
    sonstigen personenbezogenen Daten der Nutzer gespeichert.

</p>
<p> Die genannten Cookies sind zum Betrieb der Webseite notwendig und können daher nicht abgeschaltet werden.
    Sie werden nur in den oben angegebenen Situationen gesetzt.<br>
    Sollten in einzelnen Seiten des Webauftritts Verfahren enthalten sein, die weitere Cookies benötigen, welche
    nicht betriebsbedingt notwendig sind, wird auf diese gesondert hingewiesen. Diese Verfahren werden, so solche
    Verfahren zum Einsatz kommen,
    in den folgenden Kapiteln dieser Datenschutzerklärung aufgeführt.
</p>


<h4>Rechtsgrundlage für die Datenverarbeitung</h4>

<p>
    Rechtsgrundlage für die vorübergehende Speicherung der Daten und der Logfiles
    ist Art. 6 Abs. lit. f DSGVO.
</p>

<h4>Zweck der Datenverarbeitung</h4>

<p>
    Die Verwendung der Analyse-Cookies erfolgt zu dem Zweck, die Qualität unseren Webauftritt und ihre Inhalte zu
    verbessern. Durch die Analyse-Cookies erfahren wir, wie der Webauftritt genutzt wird und können so unser Angebot
    stetig optimieren.
</p>

<h4>Dauer der Speicherung, Widerspruchs- und Beseitigungsmöglichkeit</h4>

<p>
    Cookies werden auf dem Rechner des Nutzers gespeichert und von diesem an unserer Seite übermittelt. Daher haben
    Sie als Nutzer auch die volle Kontrolle über die Verwendung von Cookies.
    Sie können die Übertragung von Cookies deaktivieren oder einschränken,
    indem Sie die Cookie-Einstellungen in Ihrem Webbrowser ändern
    oder auf den unten stehenden Link Cookie-Einstellungen klicken.
    Bereits gespeicherte Cookies können jederzeit gelöscht werden.
    Dies kann auch automatisiert erfolgen. Werden Cookies für unseren Webauftritt deaktiviert,
    können möglicherweise nicht mehr alle Funktionen des Webauftrittes vollumfänglich genutzt werden.
</p>
<p>
    <a href="#" class="rrzelegal-cookie-preference">Cookie-Einstellungen</a>
</p>
