{{privacy_no_dpo_template}}
{{=privacy_no_dpo_template}}<br>
{{:privacy_no_dpo_template}}
{{=privacy_dpo_template}}<br>
{{/privacy_no_dpo_template}}
[collapsibles expand-all-link="true"]
[collapse title="Allgemeines zur Datenverarbeitung" name="allgemeines"]
<h2>Allgemeines zur Datenverarbeitung</h2>

<h3>Umfang der Verarbeitung personenbezogener Daten</h3>

<p>
    Wir verarbeiten personenbezogene Daten unserer Nutzer grundsätzlich nur, soweit dies zur Bereitstellung einem
    funktionsfähigen Webauftrittes sowie unserer Inhalte und Leistungen erforderlich ist. Die Verarbeitung
    personenbezogener Daten unserer Nutzer erfolgt regelmäßig nur nach Einwilligung des Nutzers. Eine Ausnahme gilt
    in solchen Fällen, in denen eine vorherige Einholung einer Einwilligung aus tatsächlichen Gründen nicht möglich
    ist und die Verarbeitung der Daten durch gesetzliche Vorschriften gestattet ist.
</p>

<h3>Rechtsgrundlage für die Verarbeitung personenbezogener Daten</h3>

<p>
    Soweit wir für Verarbeitungsvorgänge personenbezogener Daten eine Einwilligung der betroffenen Person einholen,
    dient Art. 6 Abs. 1 lit. a EU-Datenschutzgrundverordnung (DSGVO) als Rechtsgrundlage.<br>
    Bei der Verarbeitung von personenbezogenen Daten, die zur Erfüllung eines Vertrages, dessen Vertragspartei die
    betroffene Person ist, erforderlich ist, dient Art. 6 Abs. 1 lit. b DSGVO als Rechtsgrundlage. Dies gilt auch
    für Verarbeitungsvorgänge, die zur Durchführung vorvertraglicher Maßnahmen erforderlich sind.<br>
    Soweit eine Verarbeitung personenbezogener Daten zur Erfüllung einer rechtlichen Verpflichtung erforderlich ist,
    der unserer Universität unterliegt, dient Art. 6 Abs. 1 lit. c DSGVO als Rechtsgrundlage.<br>
    Für den Fall, dass lebenswichtige Interessen der betroffenen Person oder einer anderen natürlichen Person eine
    Verarbeitung personenbezogener Daten erforderlich machen, dient Art. 6 Abs. 1 lit. d DSGVO als
    Rechtsgrundlage.<br>
    Ist die Verarbeitung zur Erfüllung der gesetzlichen Aufgaben unserer Universität
    erforderlich, bildet Art. 6 Abs. 1 lit. e DSGVO i.V.m. Art. 4 und 5 BayDSG die
    Rechtsgrundlage für die Verarbeitung. Viele unserer Aufgaben ergeben sich aus
    Art. 2 BayHSchG.
</p>

<h3>Datenlöschung und Speicherdauer</h3>

<p>
    Wir speichern Ihre personenbezogenen Daten nur so lange, wie dies zur Erfüllung
    unserer gesetzlichen Aufgaben bzw. der jeweiligen Verarbeitungstätigkeit
    erforderlich ist. In der Regel bewahren wir personenbezogene Daten 10 Jahre
    lang nach der Entstehung auf. Eine Übergabe an staatliche Archive bleibt dazu
    unberührt. Eine Speicherung kann darüber hinaus erfolgen, wenn dies durch den
    europäischen oder nationalen Gesetzgeber in unionsrechtlichen Verordnungen,
    Gesetzen oder sonstigen Vorschriften, denen der Verantwortliche unterliegt,
    vorgesehen wurde. Eine Sperrung oder Löschung der Daten erfolgt auch dann,
    wenn eine durch die genannten Normen vorgeschriebene Speicherfrist abläuft,
    es sei denn, dass eine Erforderlichkeit zur weiteren Speicherung der Daten für
    einen Vertragsabschluss oder eine Vertragserfüllung besteht.
</p>
[/collapse][collapse title="Bereitstellung des Webauftrittes und Erstellung von Logfiles" name="logfiles"]

<h2>Bereitstellung des Webauftrittes und Erstellung von Logfiles</h2>

<h3>Beschreibung und Umfang der Datenverarbeitung</h3>

<p>
    Bei jedem Aufruf unserer Internetseite erfasst unser System automatisiert Daten und Informationen vom
    Computersystem des aufrufenden Rechners.<br>
    Folgende Daten werden hierbei erhoben:
</p>

<ul>
    <li>die Adresse (URL) der Webseite, von der aus die Datei angefordert wurde</li>
    <li>der Name der aufgerufenen Datei</li>
    <li>das Datum und die Uhrzeit der Anforderung</li>
    <li>die übertragene Datenmenge</li>
    <li>der Zugriffsstatus (Datei übertragen, Datei nicht gefunden, etc.)</li>
    <li>die Beschreibung des verwendeten Webbrowsertyps bzw. des verwendeten Betriebssystems</li>
    <li>die anonymisierte IP-Adresse des anfordernden Rechners.</li>
</ul>

<p>
    Die gespeicherten Daten werden ausschließlich zu technischen oder statistischen Zwecken benötigt; ein Abgleich
    mit anderen Datenbeständen oder gar eine Weitergabe an Dritte, auch in Auszügen, findet nicht statt. Die Daten
    werden in den Logfiles unseres Systems gespeichert. Nicht hiervon betroffen sind die IP-Adressen des Nutzers
    oder andere Daten, die die Zuordnung der Daten zu einem Nutzer ermöglichen: Vor der Speicherung wird jeder
    Datensatz durch Veränderung der IP-Adresse anonymisiert. Eine Speicherung dieser Daten zusammen mit anderen
    personenbezogenen Daten des Nutzers findet nicht statt.
</p>

<h3>Rechtsgrundlage für die Datenverarbeitung</h3>

<p>
    Rechtsgrundlage für die vorübergehende Speicherung der Daten und der Logfiles
    ist §§ 14, 15 TMG, § 100 Abs. 1 TKG sowie Art. 4 BayDSG folgend aus den Aufgaben
    des Art. 11 BayEGovG und Art. 7 und 34 BayHO.
</p>

<h3>Zweck der Datenverarbeitung</h3>

<p>
    Die vorübergehende Speicherung der IP-Adresse durch das System ist notwendig, um eine Auslieferung des Webauftrittes
    an
    den Rechner des Nutzers zu ermöglichen. Hierfür muss die IP-Adresse des Nutzers für die Dauer der Sitzung
    gespeichert bleiben.<br>
    Die Speicherung in Logfiles erfolgt, um die Funktionsfähigkeit des Webauftrittes sicherzustellen. Zudem dienen uns
    die
    Daten zur Optimierung des Webauftrittes und zur Sicherstellung der Sicherheit unserer informationstechnischen
    Systeme.
    Eine Auswertung der Daten zu Marketingzwecken findet in diesem Zusammenhang nicht statt.
</p>

<h3>Dauer der Speicherung</h3>

<p>
    Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer Erhebung nicht mehr erforderlich sind.
    Im Falle der Erfassung der Daten zur Bereitstellung des Webauftrittes ist dies der Fall, wenn die jeweilige Sitzung
    beendet ist.<br>
    Im Falle der Speicherung der Daten in Logfiles ist dies nach spätestens sieben Tagen der Fall. Eine
    darüberhinausgehende Speicherung ist möglich. In diesem Fall werden die IP-Adressen der Nutzer gelöscht oder
    verfremdet, sodass eine Zuordnung des aufrufenden Clients nicht mehr möglich ist.
</p>

<h3>Widerspruchs- und Beseitigungsmöglichkeit</h3>

<p>
    Die Erfassung der Daten zur Bereitstellung des Webauftrittes und die Speicherung der Daten in Logfiles ist für den
    Betrieb der Internetseite zwingend erforderlich. Es besteht folglich seitens des Nutzers keine
    Widerspruchsmöglichkeit.
</p>
[/collapse]
[collapse title="Verwendung von Cookies" name="cookies"]
<h2>Verwendung von Cookies</h2>

<h3>Beschreibung und Umfang der Datenverarbeitung</h3>

<p>
    Unsere Webseite verwendet Cookies. Bei Cookies handelt es sich um Textdateien, die im Internetbrowser bzw. vom
    Internetbrowser auf dem Computersystem des Nutzers gespeichert werden. Ruft ein Nutzer einen Webauftritt auf, so
    kann
    ein Cookie auf dem Betriebssystem des Nutzers gespeichert werden. Dieser Cookie enthält eine charakteristische
    Zeichenfolge, die eine eindeutige Identifizierung des Browsers beim erneuten Aufrufen des Webauftrittes
    ermöglicht.
</p>

<p>
    Wir setzen Cookies ein, um unseren Webauftritt nutzerfreundlicher zu gestalten. Einige Elemente unserer
    Internetseite
    erfordern es, dass der aufrufende Browser auch nach einem Seitenwechsel identifiziert werden kann.<br>
    In den Cookies werden dabei folgende Daten gespeichert und übermittelt:
</p>

<ul>
    <li>Log-In-Informationen (im Falle von angemeldeten Redakteuren und Autoren)</li>
    <li>Bevorzugte Auswahl der Suchmaschine (bei Nutzung der Suchfunktion)</li>
</ul>

<p>
    Die auf diese Weise erhobenen Daten der Nutzer werden durch technische Vorkehrungen pseudonymisiert. Daher ist
    eine Zuordnung der Daten zum aufrufenden Nutzer nicht mehr möglich. Die Daten werden nicht gemeinsam mit
    sonstigen personenbezogenen Daten der Nutzer gespeichert.

</p>
<p> Die genannten Cookies sind zum Betrieb der Webseite notwendig und können daher nicht abgeschaltet werden.
    Sie werden nur in den oben angegebenen Situationen gesetzt.<br>
    Sollten in einzelnen Seiten des Webauftritts Verfahren enthalten sein, die weitere Cookies benötigen, welche
    nicht betriebsbedingt notwendig sind, wird auf diese gesondert hingewiesen. Diese Verfahren werden, so solche
    Verfahren zum Einsatz kommen,
    in den folgenden Kapiteln dieser Datenschutzerklärung aufgeführt.
</p>


<h3>Rechtsgrundlage für die Datenverarbeitung</h3>

<p>
    Rechtsgrundlage für die vorübergehende Speicherung der Daten und der Logfiles
    ist §§ 14, 15 TMG, § 100 Abs. 1 TKG sowie Art. 4 BayDSG folgend aus den Aufgaben
    des Art. 11 BayEGovG und Art. 7 und 34 BayHO
</p>

<h3>Zweck der Datenverarbeitung</h3>

<p>
    Die Verwendung der Analyse-Cookies erfolgt zu dem Zweck, die Qualität unseren Webauftritt und ihre Inhalte zu
    verbessern. Durch die Analyse-Cookies erfahren wir, wie der Webauftritt genutzt wird und können so unser Angebot
    stetig optimieren.
</p>

<h3>Dauer der Speicherung, Widerspruchs- und Beseitigungsmöglichkeit</h3>

<p>
    Cookies werden auf dem Rechner des Nutzers gespeichert und von diesem an unserer Seite übermittelt. Daher haben
    Sie als Nutzer auch die volle Kontrolle über die Verwendung von Cookies. Durch eine Änderung der Einstellungen
    in Ihrem Internetbrowser können Sie die Übertragung von Cookies deaktivieren oder einschränken. Bereits
    gespeicherte Cookies können jederzeit gelöscht werden. Dies kann auch automatisiert erfolgen. Werden Cookies für
    unseren Webauftritt deaktiviert, können möglicherweise nicht mehr alle Funktionen des Webauftrittes vollumfänglich
    genutzt
    werden.
</p>
[/collapse]
[collapse title="Cookie-Einwilligung" name="cookie-einwilligung"]
[rrze_legal_cookie_consent_status]
[rrze_legal_revoke_cookie_consent]
[/collapse]

{{=privacy_newsletter_template}}
{{=privacy_contact_form_template}}
{{=privacy_registration_forms_template}}
{{=privacy_corona_contact_tracking_template}}

{{privacy_external_services}}
[collapse title="Externe Dienstleister"]
[accordion]
{{=privacy_youtube_template}}
{{=privacy_vimeo_template}}
{{=privacy_slideshare_template}}
{{=privacy_vgword_template}}
{{=privacy_varifast_template}}
{{=privacy_siteimprove_template}}
[/accordion]
[/collapse]
{{/privacy_external_services}}
{{privacy_optional_new_section}}
[collapse title="Sonstiges"]
{{=privacy_optional_new_section_content}}
[/collapse]
{{/privacy_optional_new_section}}

[collapse title="SSL-Verschlüsselung"]
<h2>SSL-Verschlüsselung</h2>

<p>Diese Seite nutzt aus Gründen der Sicherheit und zum Schutz der Übertragung vertraulicher Inhalte, wie zum
    Beispiel der Anfragen, die Sie an uns als Seitenbetreiber senden, eine SSL-Verschlüsselung. Eine verschlüsselte
    Verbindung erkennen Sie daran, dass die Adresszeile des Browsers von <code>http://</code> auf <code>https://</code>
    wechselt und an
    dem Schloss-Symbol in Ihrer Browserzeile.
</p>

<p>Wenn die SSL Verschlüsselung aktiviert ist, können die Daten, die Sie an uns übermitteln, nicht von Dritten
    mitgelesen werden.
</p>

[/collapse]
{{=privacy_rights_data_subject_template}}
[/collapsibles]