<h3>Elektronische Post (E-Mail)</h3>
<p>
    Informationen, die Sie unverschlüsselt per Elektronische Post (E-Mail) an uns senden, können möglicherweise auf dem Übertragungsweg von Dritten gelesen werden. Wir können in der Regel auch Ihre Identität nicht überprüfen und wissen nicht, wer sich hinter einer E-Mail-Adresse verbirgt. Eine rechtssichere Kommunikation durch einfache E-Mail ist daher nicht gewährleistet. Wir setzen - wie viele E-Mail-Anbieter - Filter gegen unerwünschte Werbung („SPAM-Filter“) ein, die in seltenen Fällen auch normale E-Mails fälschlicherweise automatisch als unerwünschte Werbung einordnen und löschen. E-Mails, die schädigende Programme („Viren“) enthalten, werden von uns in jedem Fall automatisch gelöscht.
</p>
<p>
    Wenn Sie Bedenken bei der Übermittlung von personenbezogen Daten oder anderen sensiblen Daten haben, stimmen Sie vor der Übermittlung eine geeignete Verschlüsselung mit dem Empfänger (unseren Mitarbeitern) ab, oder nutzen Briefpost.
</p>
