[collapse title="Newsletter" name="newsletter"]
<h2>Newsletter</h2>
<h3>Description and scope of data processing</h3>
<p>You can subscribe to free newsletters via our website. When you register for a newsletter, the data from the input
    form are transmitted to us.<br />
    In the course of the registration process, we request your consent for the processing of your personal data and draw
    your attention to this data protection policy.<br />
    No data are disclosed to third parties in connection with data processing for the dispatch of newsletters. Such data
    are used exclusively for dispatching and improving our newsletters.</p>
<h3>Legal basis for data processing</h3>
<p>Once the user has granted consent, the legal basis for data processing following the user’s registration for a
    newsletter is Art. 6 (1) (a) GDPR.</p>
<h3>Purpose of data processing</h3>
<p>The user's email address is needed to deliver the newsletter.</p>
<h3>Storage period</h3>
<p>Data are deleted as soon as they are no longer necessary for fulfilling the purpose for which they were collected.
    Accordingly, users&#8217; email addresses are stored for as long as they subscribe to the newsletter.</p>
<h3>Options for filing an objection or requesting removal</h3>
<p>Users can cancel their newsletter subscriptions at any time. Each newsletter contains a link for this purpose.</p>
<h2>Contact form and contact by email</h2>
<h3>Description and scope of data processing</h3>
<p>Contact forms are available on our website that can be used to contact us electronically. If a user makes use of this
    possibility, the data they enter in the input form are transmitted to us and stored.<br />
    The contact forms list and explain which data is required. The contact forms indicate if there are any deviations
    from or additions to the principles, purpose and duration of storage as presented here.</p>
<h3>Legal basis for data processing</h3>
<p>Once the user has granted consent, the legal basis for data processing is Art. 6 (1) (a) GDPR.</p>
<p>The legal basis for the processing of data transmitted by email is Art. 6 (1) (f) GDPR. If the purpose of the email
    contact is to enter into a contract, the additional legal basis for data processing is Art. 6 (1) (b) GDPR.</p>
<h3>Purpose of data processing</h3>
<p>The personal data from the input form are processed solely for the purpose of contacting the user. If the user
    contacts us by email, this also constitutes our legitimate interests in processing the data.<br />
    All other personal data processed during the dispatch of an email serve to prevent misuse of the contact form and to
    ensure that our IT systems are secure.</p>
<h3>Storage period</h3>
<p>Data are deleted as soon as they are no longer necessary for fulfilling the purpose for which they were collected.
    This is the case for the personal data from the input template of the contact form and those data sent by email when
    the respective conversation with the user has ended. The conversation is regarded to have ended when it can be seen
    from the circumstances that the subject matter in question has been conclusively settled.</p>
<h3>Options for filing an objection or requesting removal</h3>
<p>Users can withdraw their consent for the processing of their personal data at any time. If the user contacts us by
    email, they may withdraw their consent for the storage of their personal data at any time. In such cases, the
    conversation cannot continue<br />
    and all personal data which were stored when contact was made are deleted.</p>
[/collapse]