{{is_default_domain}}
<p>
    The Friedrich-Alexander-Universität Erlangen-Nürnberg (FAU) is responsible for its websites within the meaning of
    the General Data Protection Regulation (GDPR) and other national data protection laws as well as other data
    protection regulations. It is legally represented by its President. For contact details, please consult the <a
        href="https://www.fau.eu/imprint">legal notice on FAU’s central website</a>.
</p>
<p>
    The respective FAU institutions are responsible for any content they make available on the websites of
    Friedrich-Alexander-Universität Erlangen-Nürnberg (FAU). For questions related to specific content, please contact
    the person responsible as named <a href="/imprint">in the legal notice</a> of this web page.
</p>

<h2>Name and address of the Data Protection Officer</h2>

<address>
    Norbert Gärtner, RD<br>
    Schloßplatz 4<br>
    91054 Erlangen
</address>

<ul class="person-info">
    <li class="person-info-phone"><span class="screen-reader-text">Phone: </span> +49 9131 85-25860</li>
    <li class="person-info-fax"><span class="screen-reader-text">Fax:</span> +49 9131 85-70239</li>
    <li class="person-info-email"><span class="screen-reader-text">Email:</span> <a
            href="mailto:datenschutzbeauftragter@fau.de">datenschutzbeauftragter@fau.de</a></li>
</ul>
{{:is_default_domain}}
<h2>Name and address of the Data Protection Officer</h2>

<address>
    {{=privacy_dpo_name}}<br>
    {{=privacy_dpo_street}}<br>
    {{=privacy_dpo_postal_code}} {{=privacy_dpo_city}}
</address>

<ul class="person-info">
    <li class="person-info-phone"><span class="screen-reader-text">Phone: </span> {{=privacy_dpo_phone}}</li>
    <li class="person-info-fax"><span class="screen-reader-text">Fax:</span> {{=privacy_dpo_fax}}</li>
    <li class="person-info-email"><span class="screen-reader-text">Email:</span> <a
            href="mailto:{{=privacy_dpo_email}}">{{=privacy_dpo_email}}</a></li>
</ul>
{{/is_default_domain}}