
<h3>Protokollierung</h3>

<p>
    Bei jedem Aufruf unserer Internetseite erfasst unser System automatisiert Daten und Informationen vom
    Computersystem des aufrufenden Rechners.<br>
    Folgende Daten werden hierbei erhoben:
</p>

<ul>
    <li>die Adresse (URL) der Webseite, von der aus die Datei angefordert wurde</li>
    <li>der Name der aufgerufenen Datei</li>
    <li>das Datum und die Uhrzeit der Anforderung</li>
    <li>die übertragene Datenmenge</li>
    <li>der Zugriffsstatus (Datei übertragen, Datei nicht gefunden, etc.)</li>
    <li>die Beschreibung des verwendeten Webbrowsertyps bzw. des verwendeten Betriebssystems</li>
    <li>die anonymisierte IP-Adresse des anfordernden Rechners.</li>
</ul>

<p>
    Die gespeicherten Daten werden ausschließlich zu technischen oder statistischen Zwecken benötigt; ein Abgleich
    mit anderen Datenbeständen oder gar eine Weitergabe an Dritte, auch in Auszügen, findet nicht statt. Die Daten
    werden in den Logfiles unseres Systems gespeichert. Nicht hiervon betroffen sind die IP-Adressen des Nutzers
    oder andere Daten, die die Zuordnung der Daten zu einem Nutzer ermöglichen: Vor der Speicherung wird jeder
    Datensatz durch Veränderung der IP-Adresse anonymisiert. Eine Speicherung dieser Daten zusammen mit anderen
    personenbezogenen Daten des Nutzers findet nicht statt.
</p>




<h4>Rechtsgrundlage für die Datenverarbeitung</h4>

<p>
    Rechtsgrundlage für die vorübergehende Speicherung der Daten und der Logfiles ist Art. 6 Abs. lit. f DSGVO.
</p>

<h4>Zweck der Datenverarbeitung</h4>

<p>
    Die vorübergehende Speicherung der IP-Adresse durch das System ist notwendig, um eine Auslieferung des Webauftrittes
    an
    den Rechner des Nutzers zu ermöglichen. Hierfür muss die IP-Adresse des Nutzers für die Dauer der Sitzung
    gespeichert bleiben.<br>
    Die Speicherung in Logfiles erfolgt, um die Funktionsfähigkeit des Webauftrittes sicherzustellen. Zudem dienen uns
    die
    Daten zur Optimierung des Webauftrittes und zur Sicherstellung der Sicherheit unserer informationstechnischen
    Systeme.
    Eine Auswertung der Daten zu Marketingzwecken findet in diesem Zusammenhang nicht statt.
</p>

<h4>Dauer der Speicherung</h4>

<p>
    Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer Erhebung nicht mehr erforderlich sind.
    Im Falle der Erfassung der Daten zur Bereitstellung des Webauftrittes ist dies der Fall, wenn die jeweilige Sitzung
    beendet ist.<br>
    Im Falle der Speicherung der Daten in Logfiles ist dies nach spätestens sieben Tagen der Fall. Eine
    darüber hinausgehende Speicherung ist möglich. In diesem Fall werden die IP-Adressen der Nutzer gelöscht oder
    verfremdet, sodass eine Zuordnung des aufrufenden Clients nicht mehr möglich ist.
</p>

<h4>Widerspruchs- und Beseitigungsmöglichkeit</h4>

<p>
    Die Erfassung der Daten zur Bereitstellung des Webauftrittes und die Speicherung der Daten in Logfiles ist für den
    Betrieb der Internetseite zwingend erforderlich. Es besteht folglich seitens des Nutzers keine
    Widerspruchsmöglichkeit.
</p>


<h3>SSL-Verschlüsselung</h3>

<p>Diese Seite nutzt aus Gründen der Sicherheit und zum Schutz der Übertragung vertraulicher Inhalte, wie zum
    Beispiel der Anfragen, die Sie an uns als Seitenbetreiber senden, eine SSL-Verschlüsselung. Eine verschlüsselte
    Verbindung erkennen Sie daran, dass die Adresszeile des Browsers von <code>http://</code> auf <code>https://</code>
    wechselt und an  dem Schloss-Symbol in Ihrer Browserzeile.
</p>

<p>Wenn die SSL Verschlüsselung aktiviert ist, können die Daten, die Sie an uns übermitteln, nicht von Dritten
    mitgelesen werden.
</p>

<h3>Technische und organisatorische Maßnahmen</h3>
<p>
Der Verantwortliche hat technische und organisatorische Maßnahmen ergriffen, um Ihre Daten vor Verlust, Zerstörung oder unberechtigtem Zugriff zu schützen.
Zudem werden sowohl die Beschäftigten des Verantwortlichen als auch etwaige Dienstleistungsunternehmen zur Verschwiegenheit und zur Einhaltung der datenschutzrechtlichen Bestimmungen verpflichtet.
</p>
