<h2>Allgemeines zur Datenverarbeitung</h2>
<h3>Zwecke und Rechtsgrundlagen für die Verarbeitung personenbezogener Daten</h3>

<p>
    Zweck der Verarbeitung ist die Erfüllung der uns vom Gesetzgeber zugewiesenen öffentlichen Aufgaben.
Die Rechtsgrundlage für die Verarbeitung Ihrer Daten ergibt sich, soweit nichts anderes angegeben ist, 
aus Art. 4 Abs. 1 des Bayerischen Datenschutzgesetzes (BayDSG) in Verbindung mit 
Art. 6 Abs. 1 Unterabsatz 1 Buchstabe e der Datenschutzgrundverordnung (DSGVO). 
Demnach ist es uns erlaubt, die zur Erfüllung einer uns obliegenden Aufgabe erforderlichen Daten zu verarbeiten.
Soweit Sie in eine Verarbeitung eingewilligt haben, stützt sich die Datenverarbeitung auf Art. 6 Abs. 1 Unterabsatz 1 Buchstabe a DSGVO.

</p>

<h3>Empfänger von personenbezogenen Daten</h3>
<p>
    Gegebenenfalls werden Ihre Daten an die zuständigen Aufsichts- und Rechnungsprüfungsbehörden zur Wahrnehmung der jeweiligen Kontrollrechte übermittelt.
Zur Abwehr von Gefahren für die Sicherheit in der Informationstechnik können Protokolldaten auf Grundlage von Art. 44 BayDiG an das 
Landesamt für Sicherheit in der Informationstechnik weitergeleitet werden (näheres siehe unter „Protokollierung“)

</p>


<h3>Dauer der Speicherung der personenbezogenen Daten</h3>
<p>
    Wir speichern Ihre Daten solange dies für die Erfüllung der Aufgabe, zu Dokumentationspflichten bzw. aufgrund gesetzlicher Aufbewahrungsfristen erforderlich ist.
</p>

<h3>Rechte der betroffenen Person</h3>

<p>
Soweit wir von Ihnen personenbezogene Daten verarbeiten, stehen Ihnen als Betroffener nachfolgende Rechte zu:
</p>
<ul>
    
    
<li>Sie können Auskunft dazu verlangen, ob wir personenbezogene Daten von Ihnen verarbeiten. Ist dies der Fall, so haben Sie ein Recht auf Auskunft über diese Daten sowie auf weitere mit der Verarbeitung zusammenhängende Informationen (Art. 15 DSGVO). Bitte beachten Sie, dass dieses Auskunftsrecht in bestimmten Fällen eingeschränkt oder ausgeschlossen sein kann 
    (vgl. insbesondere Art. 10 des Bayerischen Datenschutzgesetzes - BayDSG). </li>
<li>Sollten unrichtige personenbezogene Daten verarbeitet werden, steht Ihnen ein Recht auf Berichtigung zu (Art. 16 DSGVO).</li>
<li>Liegen die gesetzlichen Voraussetzungen vor, so können Sie die Löschung oder Einschränkung der Verarbeitung verlangen (Art. 17 und 18 DSGVO).
Das Recht auf Löschung nach Art. 17 Abs. 1 und 2 DSGVO besteht jedoch dann nicht, wenn die Verarbeitung personenbezogener Daten zur Wahrnehmung einer Aufgabe im öffentlichen Interesse oder in Ausübung öffentlicher Gewalt erforderlich ist (Art. 17 Abs. 3 lit. b DSGVO)
<li>Falls Sie in die Verarbeitung eingewilligt haben und die Verarbeitung auf dieser Einwilligung beruht, können Sie die Einwilligung jederzeit für die Zukunft widerrufen. 
Die Rechtmäßigkeit der aufgrund der Einwilligung bis zum Widerruf erfolgten Datenverarbeitung wird durch diesen nicht berührt. </li>
<li>Sie haben das Recht, aus Gründen, die sich aus Ihrer besonderen Situation ergeben, jederzeit gegen die Verarbeitung Ihrer Daten Widerspruch einzulegen (Art. 21 DSGVO). Sofern die gesetzlichen Voraussetzungen vorliegen, verarbeiten wir in der Folge Ihre personenbezogenen Daten nicht mehr.</li>
</ul>
<p>
Weitere Einschränkungen, Modifikationen und gegebenenfalls Ausschlüsse der vorgenannten Rechte können sich aus der Datenschutz-Grundverordnung oder nationalen Rechtsvorschriften ergeben.
Ausführlichere Informationen zu diesen Rechten erhalten Sie auch bei unserem Datenschutzbeauftragten.
</p>

