<h3>Log files</h3>
<p>Each time our website is accessed, our system automatically collects data and
    information from the user's computer system.<br />
    In this context, the following data are collected:</p>
<ul>
    <li>Anonymised IP address of the requesting computer</li>
    <li>Date and time of the request</li>
    <li>Name of the retrieved file</li>
    <li>Address (URL) of the website from which the file was requested</li>
    <li>Data volume transmitted</li>
    <li>Access status (file transferred, file not found, etc.)</li>
    <li>Description of the type of web browser and/or operating system used</li>
   
</ul>
<p>The data stored are required exclusively for technical or statistical purposes; no
    comparison with other data or disclosure to third parties occurs, not even in part.
    The data are stored in our system's log files. This is not the case for the user's
    IP addresses or other data that make it possible to assign the data to a specific
    user: before data are stored, each dataset is anonymised by changing the IP address.
    These data are not stored together with other personal data .</p>

<p>To avert threats to information technology security, the State Office for Information Security may collect this data and analyze it automatically pursuant to Section 44 of the BayDiG.
</p>




<h3>SSL Encryption</h3>

<p>This website uses SSL encryption for security reasons and to protect the transmission of confidential content, such as
    enquiries you send to us as the website operator. You can recognize an encrypted connection by the browser address
    line changing from <code>http://</code> to <code>https://</code> and by the lock symbol in your browser bar.
</p>

<p>When SSL encryption is enabled, the data you transmit to us cannot be read by third parties.
</p>

<h3>Technical and Organizational Measures</h3>
<p>
The controller has taken technical and organizational measures to protect your data against loss, destruction, or unauthorized access.
In addition, both the controller's employees and any service providers are obliged to maintain confidentiality and comply with data protection regulations.
</p>
