<h2>General information on data processing</h2>
<h3>Scope of processing of personal data</h3>
<p>We only process our users' personal data to the extent necessary to provide services,
    content and a functional website. As a rule, personal data are only processed after
    the user gives their consent. An exception applies in those cases where it is
    impractical to obtain the user's prior consent and the processing of such data is
    permitted by law.</p>

<h3>Legal basis for the processing of personal data</h3>
<p>Art. 6 (1) (a) of the EU General Data Protection Regulation (GDPR) forms the legal
    basis for us to obtain the consent of a data subject for their personal data to be
    processed.<br />
    When processing personal data required for the performance of a contract in which the
    contractual party is the data subject, Art. 6 (1) (b) GDPR forms the legal basis. This
    also applies if data has to be processed in order to carry out pre-contractual
    activities.<br />
    Art. 6 (1) (c) GDPR forms the legal basis if personal data has to be processed in order
    to fulfil a legal obligation on the part of our organisation.<br />
    Art. 6 (1) (d) GDPR forms the legal basis in the case that vital interests of the data
    subject or another natural person make the processing of personal data necessary.<br />
    If data processing is necessary in order to protect the legitimate interests of our
    organisation or of a third party and if the interests, basic rights and fundamental
    freedoms of the data subject do not outweigh the interests mentioned above,
    Art. 6 (1) (f) GDPR forms the legal basis for such data processing.</p>

<h3>Deletion of data and storage period</h3>
<p>The personal data of the data subject are deleted or blocked as soon as the reason
    for storing them ceases to exist. Storage beyond this time period may occur if
    provided for by European or national legislators in directives under Union
    legislation, laws or other regulations to which the data controller is subject.
    Such data are also blocked or deleted if a storage period prescribed by one of the
    above-named rules expires, unless further storage of the data is necessary for
    entering into or performing a contract.</p>

{{=privacy_general_rightsdata_template}}
