[accordion-item title="Corona Kontaktverfolgung" name="kontaktverfolgung"]
<h2>Information on data processing for contact tracing purposes in view of the pandemic when attending face-to-face
    sessions or using facilities at Bavarian universities</h2>

<h3>General information</h3>

<p>Pursuant to Art. 15 GDPR, you, the data subject, are entitled to the following rights concerning the processing of
    your data:</p>

<ul>
    <li>You can ask for information about whether data concerning you are being processed. If this is the case, you are
        entitled to information about which data are processed and other information relating to the processing (Art. 15
        GDPR). Please note that this right to information can be restricted or excluded in certain cases (see in
        particular Section 10 BayDSG).</li>
    <li>If the personal data concerning you are/have become inaccurate or are incomplete, you can request that these
        data are rectified and/or completed (Art. 16 GDPR).</li>
    <li>If the legal requirements are met, you can request that your personal data are deleted (Art. 17 GDPR) or
        processing of these data is restricted (Art. 18 GDPR). The right to deletion pursuant to Art. 17 (1) and (2)
        GDPR does not apply, however, if the processing of personal data is vital for the performance of a task carried
        out in the public interest or in the exercise of official authority (Art. 17 (3)(b) GDPR).</li>
    <li>You are entitled to file a complaint concerning the processing of your personal data with a supervisory
        authority as defined in Art. 51 GDPR. The pertinent supervisory authority for the Bavarian public service is the
        Bavarian Data Protection Officer, Wagmüllerstraße 18, 80538 München.</li>
</ul>

<h3>Obligation to provide data</h3>
<p>If you would like to attend any face-to-face session or enter our institution, we are obliged by the statutory
    accident insurance provider and current legal requirements to process your personal data in an effort to contain the
    coronavirus pandemic. </p>
<p>If you do not provide the required data, we must unfortunately prevent you from attending the session or entering our
    institution. </p>

<h3>Purpose and legal basis of processing</h3>
<h4>Purpose</h4>

<p> Infection prevention and contact tracing at face-to-face sessions or visits to the institution in order to comply
    with official requirements for ensuring the safety of the event. </p>

<h4>Legal basis</h4>

<p>The legal basis for the temporary saving of the data is meeting official requirements for ensuring the safety of the
    event pursuant to Section 6 (1) (c) and (d) GDPR and Section 9 (2) (i) GDPR in conjunction with Section 4 (1),
    Section 5 (1) (1)(1) BayDSG on the basis of BayIfSMV, IfSG, Section 21 SGB VII. </p>

<h3>Categories of personal data</h3>
<table>
    <tr>
        <th>Number</th>
        <th>Name of data</th>
    </tr>
    <tr>
        <td>1</td>
        <td> Contact information</td>
    </tr>
    <tr>
        <td>2</td>
        <td> Time and duration of stay</td>
    </tr>
    <tr>
        <td>3</td>
        <td> Information from health authority</td>
    </tr>
</table>

<h3>Categories of recipients</h3>
<table>
    <tr>
        <th>No. for categories</th>
        <th> Recipients </th>
        <th>Reason for disclosure</th>
        <th> Storage location</th>
    </tr>
    <tr>
        <td>1, 2 </td>
        <td>Pertinent health authorities / local authorities </td>
        <td>Sections 16 (2) and 25 (2) IfSG </td>
        <td>Germany</td>
    </tr>
</table>

<h3>Planned deadlines for deleting the various data categories</h3>

<table>
    <tr>
        <th>No. of categories</th>
        <th> Deadline for deletion</th>
    </tr>
    <tr>
        <td>1, 2 </td>
        <td>Four weeks after attending the session or visiting the institution, unless disclosure is required.</td>
    </tr>
    <tr>
        <td>3 </td>
        <td>Information from the health authorities is not stored permanently.</td>
    </tr>
</table>
[/accordion-item]