<h3>Kontaktformulare</h3>
<h4>Beschreibung und Umfang der Datenverarbeitung</h4>

<p>Auf unserer Internetseite sind Kontaktformulare vorhanden, welche für die elektronische Kontaktaufnahme genutzt werden können. 
    Nimmt ein Nutzer diese Möglichkeit wahr, so werden die in der Eingabemaske eingegebenen Daten an uns übermittelt und gespeichert.
</p><p>
Die konkreten Datensätze werden bei den jeweiligen Kontaktformularen aufgeführt und erklärt. Sofern sich Abweichungen oder Ergänzungen 
von den hier aufgeführten Grundlagen und Zweck und Dauer der Speicherung ergeben, werden diese bei den jeweiligen Kontaktformularen angegeben. 
</p><p>
Alternativ ist eine Kontaktaufnahme über die bereitgestellte E-Mail-Adresse möglich. In diesem Fall werden Ihre mit der E-Mail übermittelten 
personenbezogenen Daten gespeichert. Es erfolgt in diesem Zusammenhang keine Weitergabe der Daten an Dritte. 
Die Daten werden ausschließlich für die Verarbeitung der Konversation verwendet.

</p>

<h4>Rechtsgrundlage für die Datenverarbeitung</h4>


<p>Rechtsgrundlage für die Verarbeitung Ihrer personenbezogenen Daten ist bei Vorliegen einer Einwilligung des Nutzers Art. 6 Abs. 1 lit. a DSGVO.<br>
    
Rechtsgrundlage für die Verarbeitung Ihrer personenbezogenen Daten, die im Zuge einer Übersendung einer E-Mail übermittelt werden, 
ist Art. 6 Abs. 1 lit. e DSGVO i.V.m. Art. 4, 5 BayDSG. Zielt die Kontaktaufnahme per E-Mail auf den Abschluss eines Vertrages ab, 
so ist zusätzliche Rechtsgrundlage für die Verarbeitung Art. 6 Abs. 1 lit. b DSGVO.
</p>

<h4>Zweck der Datenverarbeitung</h4>

<p>
    Die Verarbeitung Ihrer personenbezogenen Daten aus der Eingabemaske dient uns allein zur Bearbeitung der Kontaktaufnahme.<br>
Die sonstigen während des Absendevorgangs verarbeiteten personenbezogenen Daten dienen dazu, einen Missbrauch des Kontaktformulars
zu verhindern und die Sicherheit unserer informationstechnischen Systeme sicherzustellen.

</p>

<h4>Dauer der Speicherung</h4>

<p>
    Ihre personenbezogenen Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer Erhebung nicht mehr erforderlich sind.
    Für die personenbezogenen Daten aus der Eingabemaske des Kontaktformulars und diejenigen, die per E-Mail übersandt wurden, 
    ist dies dann der Fall, wenn die jeweilige Konversation mit Ihnen beendet ist. Beendet ist die Konversation dann, wenn sich aus den
    Umständen entnehmen lässt, dass der betroffene Sachverhalt abschließend geklärt ist. 
Die während des Absendevorgangs zusätzlich erhobenen personenbezogenen Daten werden spätestens nach einer Frist von sieben Tagen gelöscht.

</p>

<h4>Widerspruchs- und Beseitigungsmöglichkeit</h4>

<p>Sie haben jederzeit die Möglichkeit, der Verarbeitung Ihrer personenbezogenen Daten im Rahmen der Kontaktaufnahme 
    über das Kontaktformular oder per E-Mail für die Zukunft zu widersprechen. In einem solchen Fall kann die Konversation 
    zwischen Ihnen und uns nicht fortgeführt werden. Alle personenbezogenen Daten, die im Zuge der Kontaktaufnahme
    gespeichert wurden, werden in diesem Fall gelöscht.

</p>
