[collapse title="Anmeldeformulare" name="formulare"]
<h2>Anmeldeformulare</h2>
<h3>Beschreibung und Umfang der Datenverarbeitung</h3>
<p>
    Auf unserer Internetseite besteht die Möglichkeit, sich per Formular zu Seminaren und
    Veranstaltungen anzumelden. Dabei werden bei der Anmeldung die Daten aus der Eingabemaske
    an uns übermittelt. Für die Verarbeitung der Daten wird im Rahmen des Anmeldevorgangs Ihre
    Einwilligung eingeholt und auf diese Datenschutzerklärung verwiesen. Es erfolgt im
    Zusammenhang mit der Datenverarbeitung keine Weitergabe der Daten an Dritte.
    Die Daten werden ausschließlich für die Administration der Seminare und Veranstaltungen verwendet.
</p>
<h3>Rechtsgrundlage für die Datenverarbeitung</h3>
<p>Rechtsgrundlage für die Verarbeitung der Daten nach Anmeldung zu einem Seminar oder
    einer Veranstaltung durch den Nutzer ist bei Vorliegen einer Einwilligung des Nutzers
    Art. 6 Abs. 1 lit. a DSGVO.</p>

<h3>Zweck der Datenverarbeitung</h3>
<p>
    Die Verarbeitung der personenbezogenen Daten aus der Eingabemaske dient uns allein zur
    Bearbeitung der Anmeldung. Im Falle einer Kontaktaufnahme per E-Mail liegt hieran
    auch das erforderliche berechtigte Interesse an der Verarbeitung der Daten.
    Die sonstigen während des Absendevorgangs verarbeiteten personenbezogenen Daten
    dienen dazu, einen Missbrauch des Anmeldeformulars zu verhindern und die Sicherheit
    unserer informationstechnischen Systeme sicherzustellen.
</p>
<h3>Dauer der Speicherung</h3>
<p>
    Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer Erhebung nicht mehr erforderlich sind.
</p>
<h3>Widerspruchs- und Beseitigungsmöglichkeit</h3>
<p>
    Der Nutzer hat jederzeit die Möglichkeit, seine Einwilligung zur Verarbeitung der
    personenbezogenen Daten zu widerrufen. Nimmt der Nutzer per E-Mail Kontakt mit uns auf,
    so kann er der Speicherung seiner personenbezogenen Daten jederzeit widersprechen.
    In einem solchen Fall kann die Konversation nicht fortgeführt werden. Alle personenbezogenen
    Daten, die im Zuge der Kontaktaufnahme gespeichert wurden, werden in diesem Fall gelöscht.
</p>
[/collapse]