
<h2>Hinweis zur Datenschutzerklärung</h2>
<p>
Soweit nichts anderes geregelt ist, unterliegt die Nutzung sämtlicher Informationen, die wir über Sie haben, dieser Datenschutzerklärung.
Der Verantwortliche behält es sich vor, diese Datenschutzerklärung den erforderlichen Sicherheitsmaßnahmen entsprechend der technologischen Entwicklung fortlaufend anzupassen, und wird etwaige Änderungen an dieser Stelle bekannt geben.
</p>


<h2>Weitere Hinweise</h2>


<h3>Technische und organisatorische Maßnahmen</h3>
<p>
Der Verantwortliche hat technische und organisatorische Maßnahmen ergriffen, um Ihre Daten vor Verlust, Zerstörung oder unberechtigtem Zugriff zu schützen.
Zudem werden sowohl die Beschäftigten des Verantwortlichen als auch etwaige Dienstleistungs-unternehmen zur Verschwiegenheit und zur Einhaltung der datenschutzrechtlichen Bestimmungen verpflichtet.
</p>

<h3>SSL-Verschlüsselung</h3>

<p>Diese Seite nutzt aus Gründen der Sicherheit und zum Schutz der Übertragung vertraulicher Inhalte, wie zum
    Beispiel der Anfragen, die Sie an uns als Seitenbetreiber senden, eine SSL-Verschlüsselung. Eine verschlüsselte
    Verbindung erkennen Sie daran, dass die Adresszeile des Browsers von <code>http://</code> auf <code>https://</code>
    wechselt und an  dem Schloss-Symbol in Ihrer Browserzeile.
</p>

<p>Wenn die SSL Verschlüsselung aktiviert ist, können die Daten, die Sie an uns übermitteln, nicht von Dritten
    mitgelesen werden.
</p>
