[collapse title="Betroffenenrechte" name="datasubject"]

<p>Hinsichtlich der Verarbeitung Ihrer personenbezogenen Daten stehen Ihnen als einer betroffenen Person die nachfolgend
    genannten Rechte gemäß Art. 15 ff. DSGVO zu:
</p>

<ul>
    <li>Sie können <strong>Auskunft</strong> darüber verlangen, ob wir personenbezogene
        Daten von Ihnen verarbeiten. Ist dies der Fall, so haben Sie ein Recht auf
        Auskunft über diese personenbezogenen Daten sowie auf weitere mit der Verarbeitung
        zusammenhängende Informationen (Art. 15 DSGVO). Bitte beachten Sie, dass dieses
        Auskunftsrecht in bestimmten Fällen eingeschränkt oder ausgeschlossen sein kann
        (vgl. insbesondere Art. 10 BayDSG).</li>
    <li>Für den Fall, dass personenbezogene Daten über Sie nicht (mehr) zutreffend oder
        unvollständig sind, können Sie eine <strong>Berichtigung</strong> und
        gegebenenfalls <strong>Vervollständigung</strong> dieser Daten verlangen (Art. 16 DSGVO).</li>
    <li>Bei Vorliegen der gesetzlichen Voraussetzungen können Sie die <strong>Löschung</strong> Ihrer
        personenbezogenen Daten (Art. 17 DSGVO) oder die <strong>Einschränkung der Verarbeitung</strong>
        dieser Daten (Art. 18 DSGVO) verlangen. Das Recht auf Löschung nach
        Art. 17 Abs. 1 und 2 DSGVO besteht jedoch unter anderem dann nicht, wenn die
        Verarbeitung personenbezogener Daten erforderlich ist zur Wahrnehmung einer
        Aufgabe. Die im öffentlichen Interesse liegt oder in Ausübung öffentlicher
        Gewalt erfolgt (Art. 17 Abs. 3 Buchst. b DSGVO).</li>
    <li>Sie haben das Recht, soweit Sie eine Einwilligung in die Verarbeitung gegeben
        haben, diese jederzeit zu widerrufen. Der Widerruf wirkt erst für die Zukunft;
        das heißt, durch den Widerruf wird die Rechtmäßigkeit der aufgrund der
        Einwilligung bis zum Widerruf erfolgten Verarbeitungen nicht berührt.</li>
    <li><strong>Aus Gründen, die sich aus Ihrer besonderen Situation ergeben, können Sie der
            Verarbeitung Sie betreffender personenbezogener Daten durch uns zudem jederzeit
            widersprechen (Art. 21 DSGVO).</strong> Sofern die gesetzlichen Voraussetzungen vorliegen,
        verarbeiten wir in der Folge Ihre personenbezogenen Daten nicht mehr.</li>
    <li>Soweit Sie in die Verarbeitung eingewilligt haben oder zur Vertragserfüllung
        erfolgt und die Datenverarbeitung mithilfe automatisierter Verfahren
        durchgeführt wird, steht Ihnen gegebenenfalls ein Recht auf
        Datenübertragbarkeit zu (Art. 20 DSGVO).</li>
    <li>Sie haben das Recht, sich bei einer Aufsichtsbehörde im Sinn des Art. 51 DSGVO
        über die Verarbeitung Ihrer personenbezogenen Daten zu beschweren. Zuständige
        Aufsichtsbehörde für bayerische öffentliche Stellen ist der Bayerische
        Landesbeauftragte für den Datenschutz, Wagmüllerstraße 18, 80538 München.</li>
</ul>
[/collapse]