[collapse title="Rights of the data subject" name="betroffenheitsrechte"]
<h2>Rights of the data subject</h2>
<p>If any of your personal data are processed, you are considered a data subject within
    the meaning of the GDPR and have the following rights:</p>
<h3>Right to information</h3>
<p>You have the right to obtain confirmation from the data controller as to whether or
    not we are processing personal data that concern you.<br />
    If your data are being processed, you have the right to request the following from the
    data controller:</p>
<ol>
    <li>The purposes for which your personal data are processed</li>
    <li>The categories of personal data processed</li>
    <li>The recipients or categories of recipients to whom the personal data concerning you have been or will be
        disclosed</li>
    <li>The planned storage period for the personal data concerning you or, if details cannot be provided, the criteria
        used to determine the storage period</li>
    <li>The right to rectification or erasure of the personal data concerning you, a right to limitation of processing
        by the data controller or a right to object to such processing</li>
    <li>The right to lodge a complaint with a supervisory authority</li>
    <li>All available information on the source of the data if the personal data are not collected from the data subject
    </li>
    <li>Information on automated decision-making processes, including profiling, in accordance<br />
        with Art. 22 (1) and (4) GDPR and – at least in these cases – authoritative information on</li>
</ol>
<p>the logic involved as well as the scope and intended effects of such processing for the data subject.</p>
<p>You have the right to request information as to whether the personal data concerning you are transmitted to a third
    country or to an international organisation. In this context, you can request that you are informed of the
    appropriate safeguards in accordance with Art. 46 GDPR in connection with the transmission of such data.</p>
<p>This right to information can be restricted if granting a right to information is likely to render impossible or
    seriously impair the research or statistical purposes for which the data is required and restricting the right to
    information is necessary to achieve the required research or statistical purposes.</p>
<h3>Right to rectification</h3>
<p>You have the right to obtain from the data controller the rectification and/or completion of personal data concerning
    you if the data processed are inaccurate or incomplete. The data controller must rectify such data without delay.
</p>
<p>Your right to rectification can be restricted insofar as it is likely to render impossible or seriously impair the
    research or statistical purposes for which the data is required and restricting the right to rectification is
    necessary for achieving the required research or statistical purposes.</p>
<h3>Right to restriction of processing</h3>
<p>You may request that the processing of personal data concerning you is restricted in the event that one of the
    following applies:</p>
<ol>
    <li>You contest the accuracy of the personal data concerning you for a period that enables the data controller to
        verify the accuracy of such personal data</li>
    <li>The processing is unlawful and you oppose the erasure of the personal data and instead request the restriction
        of their use.</li>
    <li>The data controller no longer requires the personal data for the purposes of processing, but you need them in
        order to assert, exercise or defend legal claims.</li>
    <li>You have objected to processing in accordance with Art. 21 (1) GDPR and it has not yet been established whether
        the legitimate reasons of the data controller outweigh your reasons.</li>
</ol>
<p>If the processing of personal data concerning you has been restricted, whilst such data may be stored, they may only
    be processed with your consent or for the purpose of asserting, exercising or defending legal claims or for
    protecting the rights of another natural or legal person or for reasons of important public interest of the Union or
    a Member State.<br />
    If the restriction of processing has been restricted in accordance with the above conditions, the data controller
    will inform you before the restriction is lifted.</p>
<p>Your right to restriction of processing can be restricted insofar as it is likely to render impossible or seriously
    impair the research or statistical purposes for which the data is required and this restriction is necessary for
    achieving the required research or statistical purposes.</p>
<h3>Right to erasure</h3>
<h4>Duty to erase</h4>
<p>You may request that the data controller erase without delay personal data concerning you and the data controller is
    obliged to erase these data without delay in the event that one of the following applies:</p>
<ol>
    <li>The personal data concerning you are no longer necessary for the purposes for which they were collected or
        otherwise processed.</li>
    <li>You withdraw your consent on which the processing was based in accordance with Art. 6 (1) (a) or Art. 9 (2) (a)
        GDPR and there is no other legal basis for the processing.</li>
    <li>You object to the processing in accordance with Art. 21 (1) GDPR and there are no overriding legitimate reasons
        for the processing or you object to the processing in accordance with Art. 21 (2) GDPR.</li>
    <li>The personal data concerning you have been processed unlawfully.</li>
    <li>The erasure of personal data concerning you is necessary to fulfil a legal obligation under Union or Member
        State law to which the data controller is subject.</li>
    <li>The personal data concerning you have been collected in relation to information society services in accordance
        with Art. 8 (1) GDPR.</li>
</ol>
<h4>Obligation to inform third parties</h4>
<p>If the data controller has made the personal data concerning you public and is obliged to erase them in accordance
    with Art. 17 (1) GDPR, he or she will take reasonable steps, including technical measures and taking into account
    the available technology and the cost of implementation, to inform data controllers responsible for processing such
    personal data that you as data subject have requested the erasure by such controllers of any links to, or copy or
    replication of, these personal data.</p>
<h4>Exceptions</h4>
<p>The right to erasure does not apply insofar as the processing is necessary:</p>
<ol>
    <li>To exercise the right to freedom of expression and information</li>
    <li>To fulfil a legal obligation which requires processing in accordance with Union or Member State law to which the
        data controller is subject or for the performance of a task in the public interest or in the exercise of
        official authority vested in the data controller</li>
    <li>For reasons of public interest in the area of public health in accordance with Art. 9 (2) (h) and (i) and Art. 9
        (3) GDPR</li>
    <li>For archiving purposes in the public interest, for scientific or historical research purposes or for statistical
        purposes in accordance with Article 89 (1) GDPR insofar as the right referred to in the section on &#8216;Duty
        to erase&#8217; is likely to render impossible or seriously impair the achievement of the objectives of such
        processing.</li>
    <li>For asserting, exercising or defending legal claims</li>
</ol>
<h3>Right to notification</h3>
<p>If you have exercised your right to have the data controller rectify, erase or restrict the processing of personal
    data concerning you, he or she is obliged to inform all recipients to whom such data have been disclosed of their
    rectification or erasure or of the restriction of processing, unless this proves impossible or involves
    disproportionate effort.<br />
    You have the right to be informed of these recipients.</p>
<h3>Right to data portability</h3>
<p>You have the right to receive the personal data concerning you that you have made available to the data controller in
    a structured, common and machine-readable format. You also have the right to pass these data to another data
    controller without hindrance from the data controller to whom they were made available provided that:</p>
<ol>
    <li>The processing is based on consent in accordance with Art. 6 (1) (a) GDPR or Art. 9 (2) (a) GDPR or on a
        contract in accordance with Art. 6 (1) (b) GDPR.</li>
    <li>The processing takes place with the help of automated means.</li>
</ol>
<p>In exercising this right, you also have the right to have the personal data concerning you transmitted directly from
    one data controller to another insofar as this is technically feasible. This must not compromise the freedoms and
    rights of other persons.<br />
    The right to data portability does not apply for the processing of personal data necessary for the performance of a
    task in the public interest or in the exercise of official authority vested in the data controller.</p>
<h3>Right to object</h3>
<p>You have the right, on grounds arising out of your particular situation, to object at any time to the processing of
    personal data concerning you that occurs on the basis of Art. 6 (1) (e) or (f) GDPR; this also applies for profiling
    activities undertaken on the basis of these provisions.<br />
    The data controller shall no longer process the personal data concerning you, unless he or she produces compelling
    and legitimate reasons for such processing which outweigh your interests, rights and freedoms or such processing is
    necessary for asserting, exercising or defending legal claims.<br />
    If the personal data concerning you are processed for direct marketing purposes, you have the right to object at any
    time to the processing of personal data concerning you for such marketing; this also applies to profiling insofar as
    it is undertaken in connection with such direct marketing activities.<br />
    If you object to data processing for direct marketing purposes, the personal data concerning you are no longer
    processed for such purposes.<br />
    In connection with the use of information society services and notwithstanding Directive 2002/58/EG, you may
    exercise your right to object by automated means using technical specifications.</p>
<p>You also have the right, on grounds arising out of your particular situation, to object to the processing of personal
    data concerning you that occurs for scientific or historical research purposes or for statistical purposes in
    accordance with Art. 89 (1) GDPR.<br />
    Your right to object can be restricted insofar as it is likely to render the achievement of research and statistical
    purposes impossible or seriously impair such purposes and this restriction is necessary for achieving such research
    or statistical purposes.</p>
<h3>Right to withdraw a declaration of consent concerning data protection</h3>
<p>You have the right to withdraw your declaration of consent concerning data protection at any time. Withdrawing your
    consent does not affect the lawfulness of data processing based on your consent before its withdrawal.</p>
<h3>Automated decisions in individual cases, including profiling</h3>
<p>You have the right not to be made subject to a decision based exclusively on automated data processing, including
    profiling, which produces legal effects concerning you or significantly affects you in a similar way. This does not
    apply if the decision is:</p>
<ol>
    <li>Necessary for entering into or performing a contract between you and the data controller</li>
    <li>Authorised by Union or Member State law to which the data controller is subject and which contains suitable
        measures to safeguard your rights and freedoms as well as your legitimate interests</li>
    <li>Based on your explicit consent</li>
</ol>
<p>However, such decisions may not be based on special categories of personal data in accordance with Art. 9 (1) GDPR
    unless Art. 9 (2) (a) or (g) GDPR applies and suitable measures to safeguard your rights and freedoms as well as
    your legitimate interests have been taken.<br />
    With regard to the circumstances referred to in (1) and (3), the data controller shall take suitable measures to
    safeguard your rights and freedoms as well as your legitimate interests, which include at least the right to obtain
    human intervention on the part of the data controller, to express your point of view and to contest the decision.
</p>
<h3>Right to lodge a complaint with a supervisory authority</h3>
<p>Without prejudice to any other administrative or judicial remedy, you have the right to lodge a complaint with a
    supervisory authority, in particular in the Member State of your habitual residence, your place of work or the place
    of the alleged infringement if you consider that the processing of personal data concerning you infringes the
    GDPR.<br />
    The supervisory authority with which the complaint has been lodged shall inform the complainant of the progress and
    the outcome of the complaint, including the possibility of a judicial remedy in accordance with Art. 78 GDPR.</p>
[/collapse]