
<h2>Name and address of the Data Protection Officer</h2>
<p>
{{=privacy_dpo_name}}
{{privacy_dpo_person_name}}<br>{{=privacy_dpo_person_name}}{{/privacy_dpo_person_name}}
</p>

<h3>Postal address</h3>
<address>
    {{=privacy_dpo_name}}<br>
    {{privacy_dpo_postal_co}}{{=privacy_dpo_postal_co}}<br>{{/privacy_dpo_postal_co}}
    {{=privacy_dpo_postal_street}}<br>
    {{=privacy_dpo_postal_code}} {{=privacy_dpo_postal_city}}
</address>

<ul>
    {{privacy_dpo_phone}}
    <li><span>Phone:</span> <a href="tel:{{=privacy_dpo_phone}}">{{=privacy_dpo_phone}}</a></li>
    {{/privacy_dpo_phone}}
    {{privacy_dpo_fax}}
    <li><span>Fax:</span> {{=privacy_dpo_fax}}</li>
    {{/privacy_dpo_fax}}
    {{privacy_dpo_email}}
    <li><span>EMail:</span> <a href="mailto:{{=privacy_dpo_email}}">{{=privacy_dpo_email}}</a></li>
    {{/privacy_dpo_email}}
</ul>



