<h3>Cookies</h3>

<p>OWe use cookies to ensure the correct technical and functional provision of this information service. Cookies are small text files that are stored on the device you are using.</p>
<p>The legal basis for the storage of information and the processing of personal data using technically necessary cookies is § 25 (2) TDDDG and Art. 6 (1) lit. e GDPR in conjunction with Art. 4 BayDSG.</p>
<p>Technically necessary cookies are only valid for the current session and are automatically deleted as soon as you close your browser.</p>
<p>The use of functional cookies is voluntary. If these cookies are blocked, certain functions may not be available in full. </p>
<p>The legal basis for the use of cookies that are not technically necessary is the consent of the user in accordance with Section 25 (1) TDDDG in conjunction with Art. 6 (1) (a) GDPR.</p>


<p>All cookies used on the website can be viewed individually, and their permission settings can be modified:</p>
<p>
    <button type="button" class="rrzelegal-cookie-preference" data-rrzelegal-cookie-preference aria-haspopup="dialog" aria-controls="RRZELegalBanner">Cookie Preferences</button>
</p>
