[collapse title="Kontaktformulare" name="contact"]
<h2>Kontaktformular und E-Mail-Kontakt</h2>

<h3>Beschreibung und Umfang der Datenverarbeitung</h3>

<p>Auf unserer Internetseite sind Kontaktformulare vorhanden, welche für die elektronische Kontaktaufnahme genutzt
    werden können. Nimmt ein Nutzer diese Möglichkeit wahr, so werden die in der Eingabemaske eingegeben Daten an
    uns übermittelt und gespeichert.<br>
    Die konkreten Datensätze werden bei den jeweiligen Kontaktformularen aufgeführt und erklärt. Sofern sich
    Abweichungen oder Ergänzungen von den hier aufgeführten Grundlagen und Zweck und Dauer der Speicherung ergeben,
    werden diese bei den jeweiligen Kontaktformularen angegeben.
</p>

<h3>Rechtsgrundlage für die Datenverarbeitung</h3>


<p>Rechtsgrundlage für die Verarbeitung der Daten, die im Zuge einer Übersendung einer
    E-Mail übermittelt werden, ist Art. 6 Abs. 1 lit. e DSGVO i.V.m. Art. 4 und 5
    BayDSG zur Erfüllung der Aufgaben aus § 5 TMG, Art. 3 Abs. 1 BayEGovG und § 2 BayBITV
    Zielt der E-Mail-Kontakt auf den Abschluss eines Vertrages ab, so ist zusätzliche
    Rechtsgrundlage für die Verarbeitung Art. 6 Abs. 1 lit. b DSGVO.
</p>

<h3>Zweck der Datenverarbeitung</h3>

<p>Die Verarbeitung der personenbezogenen Daten aus der Eingabemaske dient uns allein zur Bearbeitung der
    Kontaktaufnahme. Im Falle einer Kontaktaufnahme per E-Mail liegt hierin auch das erforderliche berechtigte
    Interesse an der Verarbeitung der Daten.<br>
    Die sonstigen während des Absendevorgangs verarbeiteten personenbezogenen Daten dienen dazu, einen Missbrauch
    des Kontaktformulars zu verhindern und die Sicherheit unserer informationstechnischen Systeme sicherzustellen.
</p>

<h3>Dauer der Speicherung</h3>

<p>Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer Erhebung nicht mehr erforderlich sind.
    Für die personenbezogenen Daten aus der Eingabemaske des Kontaktformulars und diejenigen, die per E-Mail
    übersandt wurden, ist dies dann der Fall, wenn die jeweilige Konversation mit dem Nutzer beendet ist. Beendet
    ist die Konversation dann, wenn sich aus den Umständen entnehmen lässt, dass der betroffene Sachverhalt
    abschließend geklärt ist.
</p>

<h3>Widerspruchsmöglichkeit</h3>

<p>Aus Gründen, die sich aus Ihrer besonderen Situation ergeben, können Sie der
    Verarbeitung Sie betreffender personenbezogener Daten durch uns zudem jederzeit
    widersprechen (Art. 21 DSGVO). Sofern die gesetzlichen Voraussetzungen vorliegen,
    verarbeiten wir in der Folge Ihre personenbezogenen Daten nicht mehr.
</p>


<h3>Bereitstellungspflicht</h3>
<p>
    Soweit die für die Vertragserfüllung erforderliche personenbezogene Daten nicht angeben
    ist diese uns nicht möglich.
</p>
[/collapse]