[collapse title="Newsletter" name="newsletter"]
<h2>Newsletter</h2>

<h3>Beschreibung und Umfang der Datenverarbeitung</h3>

<p>Auf unserer Internetseite besteht die Möglichkeit einen kostenfreien Newsletter zu abonnieren. Dabei werden bei
    der Anmeldung zum Newsletter die Daten aus der Eingabemaske an uns übermittelt.<br>
    Für die Verarbeitung der Daten wird im Rahmen des Anmeldevorgangs Ihre Einwilligung eingeholt und auf diese
    Datenschutzerklärung verwiesen.<br>
    Es erfolgt im Zusammenhang mit der Datenverarbeitung für den Versand von Newslettern keine Weitergabe der Daten
    an Dritte. Die Daten werden ausschließlich für den Versand des Newsletters verwendet.
</p>

<h3>Rechtsgrundlage für die Datenverarbeitung</h3>

<p>Rechtsgrundlage für die Verarbeitung der Daten nach Anmeldung zum Newsletters durch den Nutzer ist bei Vorliegen
    einer Einwilligung des Nutzers Art. 6 Abs. 1 lit. a DSGVO.
</p>

<h3>Zweck der Datenverarbeitung</h3>

<p>Die Erhebung der E-Mail-Adresse des Nutzers dient dazu, den Newsletter zuzustellen.
    Ggf. erheben wir auch eine Anredeform und Namen um die Anrede zu personalisieren.</p>

<h3>Dauer der Speicherung</h3>

<p>Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer Erhebung nicht mehr erforderlich sind.
    Die E-Mail-Adresse des Nutzers wird demnach solange gespeichert, wie das Abonnement des Newsletters aktiv ist.
</p>

<h3>Widerrufsrecht</h3>
<p>Sie haben das Recht, Ihre Einwilligung jederzeit zu widerrufen.
    Dafür findet sich in jedem Newsletter ein entsprechender Link.</p>
[/collapse]