[accordion-item title="Corona Kontaktverfolgung" name="kontaktverfolgung"]
<h2>Information zur Datenverarbeitung zur Pandemie bedingten Kontaktverfolgung im Rahmen Veranstaltungen sowie der
    Nutzung von Einrichtungen an bayerischen staatlichen Hochschulen</h2>

<h3>Allgemeines</h3>

<p>Hinsichtlich der Verarbeitung Ihrer personenbezogenen Daten stehen Ihnen als einer betroffenen Person die nachfolgend
    genannten Rechte gemäß Art. 15 ff. DSGVO zu:</p>

<ul>
    <li>Sie können Auskunft darüber verlangen, ob wir personenbezogene Daten von Ihnen verarbeiten. Ist dies der Fall,
        so haben Sie ein Recht auf Auskunft über diese personenbezogenen Daten sowie auf weitere mit der Verarbeitung
        zusammenhängende Informationen (Art. 15 DSGVO). Bitte beachten Sie, dass dieses Auskunftsrecht in bestimmten
        Fällen eingeschränkt oder ausgeschlossen sein kann (vgl. insbesondere Art. 10 BayDSG).</li>
    <li>Für den Fall, dass personenbezogene Daten über Sie nicht (mehr) zutreffend oder unvollständig sind, können Sie
        eine Berichtigung und gegebenenfalls Vervollständigung dieser Daten verlangen (Art. 16 DSGVO).</li>
    <li>Bei Vorliegen der gesetzlichen Voraussetzungen können Sie die Löschung Ihrer personenbezogenen Daten (Art. 17
        DSGVO) oder die Einschränkung der Verarbeitung dieser Daten (Art. 18 DSGVO) verlangen. Das Recht auf Löschung
        nach Art. 17 Abs. 1 und 2 DSGVO besteht jedoch unter anderem dann nicht, wenn die Verarbeitung personenbezogener
        Daten erforderlich ist zur Wahrnehmung einer Aufgabe. Die im öffentlichen Interesse liegt oder in Ausübung
        öffentlicher Gewalt erfolgt (Art. 17 Abs. 3 Buchst. b DSGVO).</li>
    <li>Sie haben das Recht, sich bei einer Aufsichtsbehörde im Sinn des Art. 51 DSGVO über die Verarbeitung Ihrer
        personenbezogenen Daten zu beschweren. Zuständige Aufsichtsbehörde für bayerische öffentliche Stellen ist der
        Bayerische Landesbeauftragte für den Datenschutz, Wagmüllerstraße 18, 80538 München.</li>
</ul>

<h3>Pflicht zur Bereitstellung</h3>
<p>Wenn Sie an unseren Veranstaltungen teilnehmen oder unsere Einrichtung betreten möchten, sind wir durch die Vorgaben
    der gesetzlichen Unfallversicherung und die aktuellen Rechtsvorschriften
    zur Bekämpfung der Corona-Pandemie verpflichtet, Ihre personenbezogenen Daten zu verarbeiten.
</p>
<p>
    Wenn Sie die erforderlichen Daten nicht angeben, können wir Ihnen die Teilnahme an Veranstaltungen bzw. ein Betreten
    der Einrichtung leider nicht gestatten.
</p>

<h3>Zwecke und Rechtsgrundlagen der Verarbeitung</h3>
<h4>Zwecke</h4>

<p>
    Infektionsschutz und Kontaktnachverfolgung bei Veranstaltungen oder Besuchen der Einrichtung Erfüllung behördlicher
    Auflagen zur Sicherheit der Veranstaltung.
</p>


<h4>Rechtsgrundlagen</h4>

<p>
    Rechtsgrundlage für die vorübergehende Speicherung der Daten sind:
    Art. 6 Abs. 1 Buchstaben c bzw. d DSGVO und Art. 9 Abs. 2 Buchstabe i DSGVO i.V.m. Art. 4 Abs. 1; Art. 5 Abs. 1 S. 1
    Nr. 1 BayDSG auf Grundlage von BayIfSMV, IfSG, § 21 SGB VII.
</p>

<h3>Kategorien der personenbezogenen Daten</h3>
<table>
    <tr>
        <th>Nummer</th>
        <th>Bezeichnung der Daten</th>
    </tr>
    <tr>
        <td>1</td>
        <td> Kontaktinformationen</td>
    </tr>
    <tr>
        <td>2</td>
        <td> Zeitpunkt und Dauer des Aufenthaltes</td>
    </tr>
    <tr>
        <td>3</td>
        <td> Informationen des Gesundheitsamtes</td>
    </tr>
</table>

<h3>Kategorien der Empfänger</h3>
<table>
    <tr>
        <th>Nr. bei Kategorien</th>
        <th> Empfänger </th>
        <th>Anlass der Offenlegung</th>
        <th> Speicherort</th>
    </tr>
    <tr>
        <td>1, 2 </td>
        <td>Zuständige Gesundheitsämter / Kreisverwaltungsbehörden </td>
        <td>§§ 16 Abs. 2 und § 25 Abs. 2 IfSG </td>
        <td>Deutschland</td>
    </tr>
</table>

<h3>Vorgesehene Fristen für die Löschung der verschiedenen Datenkategorien</h3>

<table>
    <tr>
        <th>Nr. bei Kategorien</th>
        <th> Löschfrist</th>
    </tr>
    <tr>
        <td>1, 2 </td>
        <td>Vier Wochen nach dem Besuch und Ende der Veranstaltung bzw. Einrichtung, sofern keine Offenlegung erfolgt.
        </td>
    </tr>
    <tr>
        <td>3 </td>
        <td>Informationen des Gesundheitsamtes werden nicht dauerhaft gespeichert.</td>
    </tr>
</table>
[/accordion-item]