<h3>Description and scope of data processing</h3>
<p>Each time our website is accessed, our system automatically collects data and
    information from the user's computer system.<br />
    In this context, the following data are collected:</p>
<ul>
    <li>Address (URL) of the website from which the file was requested</li>
    <li>Name of the retrieved file</li>
    <li>Date and time of the request</li>
    <li>Data volume transmitted</li>
    <li>Access status (file transferred, file not found, etc.)</li>
    <li>Description of the type of web browser and/or operating system used</li>
    <li>Anonymised IP address of the requesting computer</li>
</ul>
<p>The data stored are required exclusively for technical or statistical purposes; no
    comparison with other data or disclosure to third parties occurs, not even in part.
    The data are stored in our system's log files. This is not the case for the user's
    IP addresses or other data that make it possible to assign the data to a specific
    user: before data are stored, each dataset is anonymised by changing the IP address.
    These data are not stored together with other personal data .</p>
<h3>Legal basis for data processing</h3>
<p>The legal basis for the temporary storage of data and logfiles is Art. 6 Abs. lit. f DSGVO.</p>
<h3>Purpose of data processing</h3>
<p>The temporary storage of the IP address by the system is necessary in order to
    deliver the website to the user's computer. For this purpose, the user's IP address
    must remain stored for the duration of the session.<br />
    The storage of such data in log files takes place in order to ensure the website's
    functionality. These data also serve to help us optimise the website and ensure that our
    IT systems are secure. They are not evaluated for marketing purposes in this respect.</p>

<h3>Storage period</h3>
<p>Data are deleted as soon as they are no longer necessary for fulfilling the purpose
    for which they were collected. If data have been collected for the purpose of
    providing the website, they are deleted at the end of the respective session.<br />
    If data are stored in log files, they are deleted at the latest after seven days. A
    longer storage period is possible. In this case, the users' IP addresses are deleted
    or masked so that they can no longer be assigned to the client accessing the website.</p>
<h3>Options for filing an objection or requesting removal</h3>
<p>The collection of data for the purpose of providing the website and the storage of
    such data in log files is essential to the website's operation. As a consequence,
    the user has no possibility to object.</p>
