[accordion-item title="Slideshare" name="slideshare"]
<h3>Slideshare</h3>

<p>Auf diesem Webauftritt werden verschiedene Vorträge mit Hilfe des
    Online-Portals Slideshare eingebunden.
    Betreiber von Slideshare ist die LinkedIn Ireland Unlimited Company ("LinkedIn Ireland").
</p>

<h4>Beschreibung und Umfang der Datenverarbeitung</h4>

<p>
    Wenn Sie eine Seite des Internetauftritts aufrufen, die eine Vortragspräsentation mittels
    Slideshare einbindet, Schaltfläche enthält, baut Ihr Browser eine direkte Verbindung mit
    den Servern von SlideShare auf.
    Der Inhalt der Vortragspräsentation wird von SlideShare direkt an Ihren Browser übermittelt und
    von diesem in die Webseite eingebunden.
</p>
<p>

    Slideshare protokolliert Nutzungsdaten, wenn wenn die Seite mit der Vortragspräsentation
    besucht wird; wenn Sie beispielsweise Inhalte (wie Lernvideos) oder Anzeigen
    betrachten oder anklicken (innerhalb oder außerhalb unserer Webseiten und Apps),
    eine Suche innerhalb der Präsentationsanzeige ausführen oder diese teilen.
    Gespeichert werden:
</p>
<ul>
    <li>Anmeldedaten</li>
    <li>Cookies</li>
    <li>Geräteinformationen</li>
    <li>Internetprotokolladressen („IP“-Adressen)</li>
</ul>
<p>
    Wir haben daher keinen Einfluss auf den Umfang der Daten, die SlideShare mit der Schaltfläche erhebt.
    Zweck und Umfang der Datenerhebung und die weitere Verarbeitung und Nutzung der Daten durch
    SlideShare sowie Ihre diesbezüglichen Rechte und Einstellungsmöglichkeiten zum Schutz
    Ihrer Privatsphäre entnehmen Sie bitte den <a href="https://www.linkedin.com/legal/privacy-policy"
        rel="noopener noreferrer">Datenschutzhinweisen von LinkedIn</a>.
</p>

<h4>Rechtsgrundlage für die Datenverarbeitung</h4>
<p>Die Nutzung von Slideshare erfolgt
    im Interesse einer ansprechenden Darstellung unserer Online-Angebote. Dies stellt
    ein berechtigtes Interesse im Sinne von Art. 6 Abs. 1 lit. f DSGVO dar. Sofern eine
    entsprechende Einwilligung abgefragt wurde (z. B. eine Einwilligung zur Speicherung
    von Cookies), erfolgt die Verarbeitung ausschlie&szlig;lich auf Grundlage von
    Art. 6 Abs. 1 lit. a DSGVO; die Einwilligung ist jederzeit widerrufbar.</p>


<p>Weitere Informationen zum Umgang mit Nutzerdaten finden Sie in der
    Datenschutzerkl&auml;rung von YouTube unter: <a href="https://www.linkedin.com/legal/privacy-policy"
        rel="noopener noreferrer">https://www.linkedin.com/legal/privacy-policy</a>.
</p>
[/accordion-item]