{{privacy_supervisory_authority_name}}

<h3>Beschwerderecht bei der Aufsichtsbehörde</h3>
<p>
    Weiterhin besteht ein Beschwerderecht beim Bayerischen Landesbeauftragten für den Datenschutz. Diesen können Sie unter folgenden Kontaktdaten erreichen:
</p>

<h4>{{=privacy_supervisory_authority_name}}</h4>
<address>
    {{privacy_supervisory_authority_postal_co}}{{=privacy_supervisory_authority_postal_co}}<br>{{/privacy_supervisory_authority_postal_co}}

    {{privacy_supervisory_authority_postal_street}}
    {{=privacy_supervisory_authority_postal_street}}<br>
    {{/privacy_supervisory_authority_postal_street}}
    {{privacy_supervisory_authority_postal_city}}
    {{=privacy_supervisory_authority_postal_code}}
    {{=privacy_supervisory_authority_postal_city}}
    {{/privacy_supervisory_authority_postal_city}}
</address>

<ul>
    {{privacy_supervisory_authority_phone}}
    <li><span>Telefon:</span> <a href="tel:{{=privacy_supervisory_authority_phone}}">{{=privacy_supervisory_authority_phone}}</a></li>
    {{/privacy_supervisory_authority_phone}}
    {{privacy_supervisory_authority_fax}}
    <li><span>Fax:</span> {{=privacy_supervisory_authority_fax}}</li>
    {{/privacy_supervisory_authority_fax}}
    {{privacy_supervisory_authority_email}}
    <li><span>E-Mail:</span> <a href="mailto:{{=privacy_supervisory_authority_email}}">{{=privacy_supervisory_authority_email}}</a></li>
    {{/privacy_supervisory_authority_email}}
    {{privacy_supervisory_authority_url}}
    <li><span>URL:</span> <a href="{{=privacy_supervisory_authority_url}}">{{=privacy_supervisory_authority_url}}</a></li>
    {{/privacy_supervisory_authority_url}}
</ul>

<p>
    Online-Meldung: <a href="https://www.datenschutz-bayern.de/service/complaint.html">https://www.datenschutz-bayern.de/service/complaint.html</a>
</p>
{{/privacy_supervisory_authority_name}}
